<div class="project-detail-view">
  <div class="modal-header">
    <div class="modal-title">{{'project.detail' | translate | titlecase}}</div>
    <div class="modal-close">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body pt-0 pr-0 pb-0 pl-0">
    <div class="card-group">
      <div class="card-col pr-0 pl-0 w-100">
        <div class="card card-horizontal bg-white border-0 rounded-0 project-card-horizontal on-modal">
          <div class="card-body pt-0 pr-3 pb-2 pl-3 project-body">
            <div class="d-inline-block col-sm-3 pr-0 pl-0 align-top">
              <ng-container *ngTemplateOutlet="titleInfo; context: {cardType: 'horizontal'}"></ng-container>
            </div>
            <div class="d-inline-block col-sm-9 pt-1 pr-0 pb-0 align-top">
              <div class="card-text">
                <div class="mb-2"><ng-container *ngTemplateOutlet="projectInfo"></ng-container></div>
                <div class="mb-3"><ng-container *ngTemplateOutlet="registerInfo"></ng-container></div>
                <ng-container *ngTemplateOutlet="registerButtonInfo"></ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-vertical bg-white border-0 rounded-0 project-card-vertical">
          <div class="card-body pt-0 pr-3 pb-0 pl-3 project-body">
            <ng-container *ngTemplateOutlet="titleInfo; context: {cardType: 'vertical'}"></ng-container>
            <div class="card-text mb-3">
              <div class="mt-3 mb-2"><ng-container *ngTemplateOutlet="projectInfo"></ng-container></div>
              <ng-container *ngTemplateOutlet="registerInfo"></ng-container>
            </div>
          </div>
          <div class="card-footer text-right border-top-0 bg-transparent pt-0 pr-3 pb-2 pl-3 project-footer">
            <div class="card-text">
              <ng-container *ngTemplateOutlet="registerButtonInfo"></ng-container>
            </div>
          </div>
        </div>
        <div class="bg-white pt-2 pr-3 pb-3 pl-3">
          <div class="jumbotron rounded-xl mb-0 p-3">
            <div class="border-bottom border-white pb-2">
              <span class="bold text-primary size20">{{'location.info' | translate | titlecase}}</span>
            </div>
            <div *ngIf="data.transProject$.transLocation.length"><ng-container *ngTemplateOutlet="locationInfo"></ng-container></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #datetimeVerticalInfo let-data="data">
  <div class="datetime-vertical bold text-body" *ngIf="data">
    <div class="day bolder size24">
      <div>{{data | slice:0:1}}</div>
      <div>{{data | slice:1:2}}</div>
    </div>
    <div class="clearfix"></div>
    <div class="month size16">
      <div>{{(data | slice:3:4) | uppercase}}</div>
      <div>{{(data | slice:4:5) | uppercase}}</div>
      <div>{{(data | slice:5:6) | uppercase}}</div>
    </div>
    <div class="clearfix"></div>
    <div class="year size14">
      <div>{{data | slice:7:8}}</div>
      <div>{{data | slice:8:9}}</div>
      <div>{{data | slice:9:10}}</div>
      <div>{{data | slice:10:11}}</div>
    </div>
    <div class="clearfix"></div>
    <div class="time size11 text-secondary">
      <div>{{data | slice:12:13}}</div>
      <div>{{data | slice:13:14}}</div>
      <div>{{data | slice:14:15}}</div>
      <div>{{data | slice:15:16}}</div>
      <div>{{data | slice:16:17}}</div>
    </div>
    <div class="clearfix"></div>
  </div>
</ng-template>
<ng-template #titleInfo let-cardType="cardType">
  <div class="title-info project-title-info">
    <div class="embed-responsive embed-responsive-16by9 mb-3 project-logo">
      <div class="card-img project-card-img" [ngStyle]="{'background-image': ('url(' + data.transProject$.project.logo + ')')}"></div>
      <a class="enlarge" href="javascript:void(0)" (click)="appService.enlargeImage(data.transProject$.project.logo)">
        <i class="fas fa-expand text-white size18"></i>
      </a>
    </div>
    <div class="card-title mb-0">
      <div class="float-left" *ngIf="data.transProject$.examDate.startDate">
        <ng-container *ngTemplateOutlet="datetimeVerticalInfo; context: {data: data.transProject$.examDate.startDate}"></ng-container>
      </div>
      <div class="float-left" *ngIf="data.transProject$.examDate.endDate">
        <div class="d-table">
          <div class="d-table-cell align-middle"><span class="bolder size20">&nbsp;-&nbsp;</span></div>
          <div class="d-table-cell"><ng-container *ngTemplateOutlet="datetimeVerticalInfo; context: {data: data.transProject$.examDate.endDate}"></ng-container></div>
        </div>
      </div>
      <div class="float-right">
        <div class="registration-status text-right project-registration-status" ngbTooltip="{{(dataService.statuses.get(dataService.registrationStatus.data$, data.transProject$.registrationStatus)).name[appService.lang]}}" placement="left" title="{{(dataService.statuses.get(dataService.registrationStatus.data$, data.transProject$.registrationStatus)).name[appService.lang]}}">
          <i class="fas fa-lock size30"
            [ngClass]="{
              'text-success': (data.transProject$.registrationStatus === 'Y'),
              'text-warning': (data.transProject$.registrationStatus === 'W'),
              'text-danger': (data.transProject$.registrationStatus === 'N'),
              'fa-unlock': (data.transProject$.registrationStatus === 'Y'),
              'fa-lock': (data.transProject$.registrationStatus !== 'Y')
            }">
          </i>
        </div>
        <div class="text-right project-dropdown" ngbDropdown placement="bottom-{{cardType === 'horizontal' ? 'left' : 'right'}}">
          <a class="badge badge-pill badge-dark btn-contact-info" href="javascript:void(0)" ngbDropdownToggle ngbTooltip="{{'contact.label' | translate | titlecase}}" placement="left" title="{{'contact.label' | translate | titlecase}}">
            <i class="fas fa-phone text-white size11"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="contact-info" class="contact-info">
            <div class="dropdown-menu-inner"><ng-container *ngTemplateOutlet="contactInfo"></ng-container></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</ng-template>
<ng-template #projectInfo>
  <div class="project-info">
    <p class="bold size22 mb-0">{{data.transProject$.project.name[appService.lang]}}</p>
    <div class="regular text-dark size15 mb-1" *ngIf="data.transProject$.description[appService.lang]">{{data.transProject$.description[appService.lang]}}</div>
    <div class="badge badge-pill badge-danger project-btn-badge mt-1 mb-2" *ngIf="data.transProject$.registrationStatus !== 'Y'">
      <span class="regular text-white size13">{{(dataService.statuses.get(dataService.registrationStatus.data$, data.transProject$.registrationStatus)).name[appService.lang] | lowercase}}</span>
    </div>
  </div>
</ng-template>
<ng-template #registerInfo>
  <div class="register-info project-register-info">
    <div class="regular size16">
      <div class="d-table w-100 size-l mb-2 calendar-date">
        <div class="d-table-row" ngbTooltip="{{'project.registrationDate' | translate | titlecase}} ( {{'start' | translate | titlecase}} )" title="{{'project.registrationDate' | translate | titlecase}} ( {{'start' | translate | titlecase}} )">
          <div class="d-table-cell align-middle col-icon"><span class="text-success size22"><i class="fas fa-calendar-alt"></i></span></div>
          <div class="d-table-cell align-middle col-calendar"><span class="text-success">{{data.transProject$.registrationDate.startDate ? (data.transProject$.registrationDate.startDate | slice:0:16) : ''}}</span></div>
          <div class="d-table-cell align-middle col-icon"><span class="text-success size22"><i class="fas fa-clock"></i></span></div>
          <div class="d-table-cell align-middle col-clock"><span class="text-success">{{data.transProject$.registrationDate.startDate ? (data.transProject$.registrationDate.startDate | slice:16:22) : ''}}</span></div>
        </div>
        <div class="d-table-row" ngbTooltip="{{'project.registrationDate' | translate | titlecase}} ( {{'end' | translate | titlecase}} )" title="{{'project.registrationDate' | translate | titlecase}} ( {{'end' | translate | titlecase}} )">
          <div class="d-table-cell align-middle col-icon"><span class="text-danger size22"><i class="fas fa-calendar-alt"></i></span></div>
          <div class="d-table-cell align-middle col-calendar"><span class="text-danger">{{data.transProject$.registrationDate.endDate ? (data.transProject$.registrationDate.endDate | slice:0:16) : ''}}</span></div>
          <div class="d-table-cell align-middle col-icon"><span class="text-danger size22"><i class="fas fa-clock"></i></span></div>
          <div class="d-table-cell align-middle col-clock"><span class="text-danger">{{data.transProject$.registrationDate.endDate ? (data.transProject$.registrationDate.endDate | slice:16:22) : ''}}</span></div>
        </div>
      </div>
      <div class="d-table w-100 size-l">
        <div class="d-table-row line-height-0">
          <div class="d-table-cell align-middle pb-2 col-icon"><span class="text-dark size18"><i class="fas fa-users"></i></span></div>
          <div class="d-table-cell align-middle pb-2"><span class="text-dark">{{'project.seat' | translate | titlecase}}<span class="bold">{{data.transProject$.maximumSeat ? (' ' + (data.transProject$.maximumSeat | number) + ' / ' + (data.transProject$.seatAvailable | number) + ' ') : ''}}</span>{{data.transProject$.maximumSeat ? ('unit.persons' | translate | titlecase) : ''}}</span></div>
        </div>
        <div class="d-table-row line-height-0">
          <div class="d-table-cell align-middle col-icon size-l"><span class="size22"><i class="fab fa-btc"></i></span></div>
          <div class="d-table-cell align-middle"><span class="text-dark">{{'project.registrationFee' | translate | titlecase}}<span class="bold">{{data.transProject$.minimumFee ? (' ' + (data.transProject$.minimumFee | number: '.2') + ' ') : ''}}</span>{{data.transProject$.minimumFee ? ('unit.baht' | translate | titlecase) : ''}}</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <a class="d-inline badge badge-pill badge-light-dark project-btn-badge" href="javascript:void(0)" (click)="projectAbout.isCollapsed = !projectAbout.isCollapsed" [attr.aria-expanded]="projectAbout.isCollapsed" aria-controls="projectAbout">
      <span class="regular size13">{{'about' | translate | lowercase}}</span>
    </a>
  </div>
  <p class="regular text-justify-distribute text-black-50 size16 line-clamp mt-2 mb-0 project-text-line-clamp" id="projectAbout" [ngbCollapse]="!projectAbout.isCollapsed" [innerHTML]="data.transProject$.project.about[appService.lang] | nl2br"></p>
</ng-template>
<ng-template #registerButtonInfo>
  <div class="registered-btn ml-auto project-registered-btn">
    <a [routerLink]="[('Project/' + data.transProject$.project.category.initial + '/Registered'), data.transProject$.CUID]" routerLinkActive="active" class="btn"
      [ngClass]="{
        'btn-success': (data.transProject$.registrationStatus === 'Y'),
        'btn-warning': (data.transProject$.registrationStatus === 'W'),
        'btn-danger': (data.transProject$.registrationStatus === 'N'),
        'disabled': (data.transProject$.registrationStatus !== 'Y' || !data.transProject$.contactPerson.ID || data.transProject$.transLocation.length === 0)
      }">
      <span class="font bold text-white size20">{{'registered.label' | translate | titlecase}}</span>
    </a>
  </div>
</ng-template>
<ng-template #contactInfo>
  <div class="contact-info text-white size14 project-contact-info">
    <div class="form">
      <div class="form-group row mr-0 mb-1 ml-0">
        <label for="col-name" class="col-form-label pt-0 pb-0"><i class="fas fa-address-book"></i></label>
        <div class="col text-left">
          <span class="form-text regular mt-0">{{data.transProject$.contactPerson.fullName[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mr-0 mb-1 ml-0">
        <label for="col-email" class="col-form-label pt-0 pb-0"><i class="fas fa-envelope"></i></label>
        <div class="col text-left">
          <span class="form-text regular mt-0">{{data.transProject$.contactPerson.email}}</span>
        </div>
      </div>
      <div class="form-group row mr-0 mb-0 ml-0">
        <label for="col-phone" class="col-form-label pt-0 pb-0"><i class="fas fa-phone"></i></label>
        <div class="col text-left">
          <span class="form-text regular mt-0">{{data.transProject$.contactPerson.phoneNumber}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #locationInfo>
  <div class="location-info project-location-info">
    <table class="table table-bordered mb-0">
      <thead class="text-black-50 size18">
        <tr>
          <th class="border-top-0 border-left-0 border-white pl-0 bold col-index">{{'order' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-location">{{'location.label' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-building">{{'building.label' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-seattotal">{{'location.seatTotal' | translate | titlecase}}</th>
          <th class="border-top-0 border-right-0 border-white pr-0 bold col-seatavailable">{{'location.seatAvailable' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-wrap col-wrap-step1 col-location-building">{{'location.label' | translate | titlecase}} / {{'building.label' | translate | titlecase}}</th>
          <th class="border-top-0 border-right-0 border-white pr-0 bold col-wrap col-wrap-step1 col-seat">{{'seat.label' | translate | titlecase}} <span class="regular text-muted size12">( {{'total.label' | translate | titlecase}} / {{'remain' | translate | titlecase}} )</span></th>
        </tr>
      </thead>
      <tbody class="border-top-0 size16" *ngFor="let transLocation of data.transProject$.transLocation; index as order">
        <tr>
          <td class="border-top-0 border-right-transparent border-left-0 pl-0 regular col-index" ngbTooltip="{{'order' | translate | titlecase}}" title="{{'order' | translate | titlecase}}">
            {{(order + 1) | number}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-location" ngbTooltip="{{'location.label' | translate | titlecase}}" title="{{'location.label' | translate | titlecase}}">
            {{transLocation.location.name[appService.lang]}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-building" ngbTooltip="{{'building.label' | translate | titlecase}}" title="{{'building.label' | translate | titlecase}}">
            {{transLocation.location.building.name[appService.lang]}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-seattotal" ngbTooltip="{{'location.seatTotal' | translate | titlecase}}" title="{{'location.seatTotal' | translate | titlecase}}">
            {{transLocation.seatTotal}}
          </td>
          <td class="border-top-0 border-right-0 pr-0 regular col-seatavailable" ngbTooltip="{{'location.seatAvailable' | translate | titlecase}}" title="{{'location.seatAvailable' | translate | titlecase}}">
            {{transLocation.seatAvailable}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-wrap col-wrap-step1 col-location-building">
            <ng-container *ngTemplateOutlet="locationBuildingInfo; context: {data: transLocation}"></ng-container>
          </td>
          <td class="border-top-0 border-right-0 pr-0 regular col-wrap col-wrap-step1 col-seat">
            {{transLocation.seatTotal}} / {{transLocation.seatAvailable}}
          </td>
          <td class="border-top-0 border-top-0 border-right-0 border-left-0 pr-0 pl-0 col-wrap col-wrap-step2 regular col-location-building-seat">
            <ng-container *ngTemplateOutlet="locationBuildingSeatInfo; context: {data: transLocation}"></ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<ng-template #locationBuildingInfo let-data="data">
  <div class="location-building-info">
    <div class="form">
      <div class="form-group row mb-1" ngbTooltip="{{'location.label' | translate | titlecase}}" title="{{'location.label' | translate | titlecase}}">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.name[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mb-0" ngbTooltip="{{'building.label' | translate | titlecase}}" title="{{'building.label' | translate | titlecase}}">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.building.name[appService.lang]}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #locationBuildingSeatInfo let-data="data">
  <div class="location-building-seat-info">
    <div class="form">
      <div class="form-group row mb-1" ngbTooltip="{{'location.label' | translate | titlecase}}" title="{{'location.label' | translate | titlecase}}">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.name[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mb-1" ngbTooltip="{{'building.label' | translate | titlecase}}" title="{{'building.label' | translate | titlecase}}">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.building.name[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mb-0" ngbTooltip="{{'seat.label' | translate | titlecase}}" title="{{'seat.label' | translate | titlecase}}">
        <div class="col pl-0">
          <span class="form-text regular">{{'seat.label' | translate | titlecase}} {{data.seatTotal}} / {{data.seatAvailable}}</span>
          <span class="regular text-muted size12">{{'total.label' | translate | titlecase}} / {{'remain' | translate | titlecase}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
