/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๒๙/๑๐/๒๕๖๒>
Modify date : <๒๔/๐๔/๒๕๖๓>
Description : <>
=============================================
*/

@import '../../styles.scss';

.project-view .title-info .card-img,
.project-detail-view .title-info .card-img,
.registered-view .title-info .card-img {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.project-view .title-info .registration-status i,
.project-detail-view .title-info .registration-status i,
.registered-view .title-info .registration-status i {
  position: relative;
  top: -2px;
}
.project-view .title-info .badge-pill,
.project-detail-view .title-info .badge-pill,
.registered-view .title-info .badge-pill {
  margin-top: 0;
  padding-right: 0;
  padding-left: 0;
  width: 24px;
  height: 24px;
  line-height: 0;
  position: relative;
  top: -1px;
}
.project-view .title-info .badge-pill i,
.project-detail-view .title-info .badge-pill i,
.registered-view .title-info .badge-pill i {
  top: 2px;
}
.project-view .title-info .dropdown-toggle::after,
.project-view .project-info .dropdown-toggle::after,
.project-detail-view .title-info .dropdown-toggle::after,
.registered-view .title-info .dropdown-toggle::after {
  border: 0;
  margin-left: 0;
}
.project-view .dropdown-menu.contact-info,
.project-detail-view .dropdown-menu.contact-info,
.registered-view .dropdown-menu.contact-info {
  width: 260px;
  min-width: 260px;
}
.project-detail-view .project-card-vertical .title-info .dropdown-menu.show.contact-info,
.registered-view .project-card-vertical .title-info .dropdown-menu.show.contact-info {
  transform: translate(-227px, 25px) !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .project-view .title-info .dropdown-menu.show.contact-info,
  .project-detail-view .title-info .dropdown-menu.show.contact-info,
  .registered-view .title-info .dropdown-menu.show.contact-info {
    top: 25px !important;
    left: 9px !important;
  }
  ::i-block-chrome,
  .project-view .project-card-vertical .title-info .dropdown-menu.show.contact-info,
  .project-detail-view .project-card-vertical .title-info .dropdown-menu.show.contact-info,
  .registered-view .project-card-vertical .title-info .dropdown-menu.show.contact-info {
    left: -227px !important;
  }
}
.project-detail-view .register-info .form .form-group .col-form-label,
.registered-view .register-info .form .form-group .col-form-label {
  width: 161px;
}
.project-detail-view .register-info .d-table.calendar-date,
.registered-view .register-info .d-table.calendar-date {
  margin-top: 3px;
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  .project-detail-view .register-info .d-table.calendar-date,
  .registered-view .register-info .d-table.calendar-date {
    margin-top: 2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .project-detail-view .register-info .d-table.calendar-date,
  .registered-view .register-info .d-table.calendar-date {
    margin-top: 2px;
  }
}
.project-view .contact-info .form .form-group .col-form-label,
.project-view .menu-info .form .form-group .col-form-label,
.project-detail-view .contact-info .form .form-group .col-form-label,
.registered-view .contact-info .form .form-group .col-form-label {
  width: 15px !important;
}
.project-view .contact-info .form .form-group .col-form-label::after,
.project-view .menu-info .form .form-group .col-form-label::after,
.project-detail-view .contact-info .form .form-group .col-form-label::after,
.registered-view .contact-info .form .form-group .col-form-label::after {
  float: none !important;
  content: '' !important;
  margin-left: 0 !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .project-view .contact-info .form .form-group .col-form-label,
  .project-view .menu-info .form .form-group .col-form-label,
  .project-detail-view .contact-info .form .form-group .col-form-label,
  .registered-view .contact-info .form .form-group .col-form-label,
  .project-view .contact-info .form .form-group .col,
  .project-view .menu-info .form .form-group .col,
  .project-detail-view .contact-info .form .form-group .col,
  .registered-view .contact-info .form .form-group .col {
    display: table-cell;
  }
}
.project-detail-view .card .line-clamp::after,
.registered-view .card .line-clamp::after {
  background-color: #FFFFFF;
}
@media screen and (max-width: 858px) {
  ::i-block-chrome,
  .project-view .project-card-horizontal .project-body {
    display: table !important;
    table-layout: fixed;
  }
  .registered-view .project-card-horizontal .project-body {
    display: table !important;
    table-layout: fixed;
  }
  ::i-block-chrome,
  .project-view .project-card-horizontal .project-body .col-sm-3 {
    display: table-cell !important;
    vertical-align: top;
    width: 205px;
    max-width: 205px !important;
  }
  .registered-view .project-card-horizontal .project-body .col-sm-3 {
    display: table-cell !important;
    vertical-align: top;
    width: 205px;
    max-width: 205px !important;
  }
  ::i-block-chrome,
  .project-view .project-card-horizontal .project-body .col-sm-9 {
    display: table-cell;
    vertical-align: top;
    width: auto !important;
    max-width: 100% !important;
  }
  .registered-view .project-card-horizontal .project-body .col-sm-9 {
    display: table-cell;
    vertical-align: top;
    width: auto !important;
    max-width: 100% !important;
  }
}
