/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๒๓/๑๒/๒๕๖๒>
Modify date : <๑๘/๐๒/๒๕๖๓>
Description : <>
=============================================
*/

.signin-view {
    max-width: 450px;
    min-width: 360px;
}
.signin-view a.btn {
    display: table;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5rem;
}
.signin-view a.btn div {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 20px 0px 20px;
    line-height: 24px;
}
