/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๐๖/๑๑/๒๕๖๒>
Modify date : <๐๓/๐๔/๒๕๖๓>
Description : <>
=============================================
*/

@import 'font.scss';

$color-primary: #337AB7;
$color-secondary: #A6C;
$color-success: mediumseagreen;
$color-danger: #D43F3A;
$color-warning: #FB3;
$color-info: #46B8DA;

$screen-max-width: 796px;
$screen-min-width: 344px;
$header-max-height: 80px;
$image-path: '../assets/images';

$line-clamp-line-height: 1.7;

@mixin table-responsive-step1($class)
{
  #{$class} .table th:not(.col-wrap),
  #{$class} .table td:not(.col-wrap) {
    display: none !important;
  }
  #{$class} .table th.col-wrap.col-wrap-step1,
  #{$class} .table td.col-wrap.col-wrap-step1 {
    display: table-cell;
  }
}

@mixin table-responsive-step2($class)
{
  #{$class} .table th.col-wrap.col-wrap-step1,
  #{$class} .table td.col-wrap.col-wrap-step1 {
    display: none !important;
  }
  #{$class} .table th.col-wrap.col-wrap-step2,
  #{$class} .table td.col-wrap.col-wrap-step2 {
    display: table-cell;
  }
}

@mixin form-responsive($class)
{
  #{$class} .form .form-group {
    width: 100%;
  }
  #{$class} .form .form-group:not(.nowrap):not(:last-child) {
    margin-bottom: 0.5rem !important;
  }
  #{$class} .form .form-group .col-form-label:not(.nowrap) {
    display: block !important;
    width: 100% !important;
    font-weight: $font-weight-class-bold !important;
  }
  #{$class} .form .form-group .col-form-label:not(.nowrap)::after {
    float: none !important;
    content: '' !important;
    margin-left: 0 !important;
  }
  #{$class} .form .form-group .col:not(.nowrap) {
    display: block !important;
    width: 100% !important;
    padding-left: 0;
  }
}

.font {
  font-family: $font-family;
}
.font-tahoma {
  font-family: Tahoma;
}
body {
  font-family: $font-family !important;
  background-color: #FFFFFF;
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  min-width: $screen-min-width;
  margin: 0;
  padding: 0;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: default;
}
html, body {
  height: 100%;
}
a,
a:link,
a:active,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
a:link.link,
a:focus.link {
  color: #000000;
  text-decoration: underline;
}
a:hover.link {
  color: #C51A1B;
}
a.disabled,
a:disabled {
  opacity: 0.65;
}
a.disabled {
  pointer-events: none;
}
a.badge:focus,
a.badge.focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 !important;
}
a.badge-dark:hover {
  background-color: #1D2124 !important;
}
a.badge-dark:focus {
  background-color: #343A40;
}
main {
  min-height: 100%;
  position: relative;
}
main header,
main section,
main footer,
.sticky {
  width: 100%;
}
main header .container,
main section .container,
main section .container .view,
main footer .container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
main header .container {
  min-width: $screen-min-width;
}
main header .container .navbar-top,
main header .container .navbar-header {
  width: inherit;
}
main header .container .navbar-header {
  padding: 0 10px 7px 9px;
}
main section .container {
  padding: 0 0 0 0;
  min-height: 100%;
}
main footer {
  position: absolute;
  background: #000000;
	bottom: 0;
	left: 0;
  z-index: 1;
}
main footer .container {
  padding: 16px 10px 19px 10px;
}
.full-screen {
  position: fixed !important;
}
.msg-loading {
  z-index: 2000;
  position: fixed;
  color: white;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  margin-top: 45px;
}
.sticky {
  position: fixed;
  z-index: 10050;
}
.d-table {
  width: 100%;
}
.d-table .d-table-col {
  vertical-align: top;
}
.btn {
  min-height: 36px;
  min-width: 75px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
}
button:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
  outline-offset: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: none;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn[disabled],
.btn.disabled,
.btn:disabled,
.btn[disabled]:hover,
.btn.disabled:hover,
.btn:disabled:hover {
  cursor: default;
  filter: alpha(opacity=45);
  opacity: .45;
}
.btn div {
  display: table-cell;
  vertical-align: middle;
}
.btn-transparent {
  background-color: transparent;
  border: 2px solid #DADCE0;
}
.btn-transparent:hover {
  background-color: #F7F8F8;
}
.toolbars .d-table .d-table-cell {
  vertical-align: middle;
}
.toolbars .d-table .d-table-cell.col-button .btn {
  height: 32px;
  width: 32px;
  min-height: 32px;
  min-width: 32px;
  padding: 0;
  border-radius: 0.2rem;
}
body.modal-open {
  padding-right: 0 !important;
  overflow: hidden !important;
}
.modal {
  top: 80px !important;
  //height: -webkit-calc(100% - #{$header-max-height}) !important;
  //height: -moz-calc(100% - #{$header-max-height}) !important;
  //height: calc(100% - #{$header-max-height}) !important;
}
.modal-dialog {
  margin: 0 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.modal-content {
  border-radius: 0 !important;
}
.modal-header {
  background: #5BC0DE;
  border-bottom: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  height: 40px;
  padding: 10px 1rem 10px 1rem !important;
  display: table !important;
  table-layout: fixed;
  width: 100%;
}
.modal-header .close {
  height: 18px;
  line-height: 0;
  font-size: 48px;
  font-weight: 400;
  text-shadow: none;
  padding: 0 !important;
  margin: 0 !important;
}
.modal-title {
  display: table-cell;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 1 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.modal-close {
  display: table-cell;
  width: 25px;
}
.modal-dialog .modal-content .modal-body {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
}
.modal-dialog .modal-content .modal-footer {
  border-top: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}
.modal-dialog .modal-content .modal-footer > * {
  margin-top: 0 !important;
}
@media screen and (max-width: 199px) {
  .modal-dialog .modal-content .modal-footer {
    display: table;
    width: 100%;
  }
  .modal-dialog .modal-content .modal-footer > .btn:not(:first-child) {
    margin-top: .5rem !important;
    margin-right: 0;
    margin-left: 0;
  }
  .modal-dialog .modal-content .modal-footer > .btn:not(:last-child) {
    margin-top: 0 !important;
    margin-right: 0;
    margin-left: 0;
  }
  .modal-dialog .modal-content .modal-footer .btn {
    display: block;
    width: 100%;
  }
}
.modal-backdrop.show {
  opacity: 0.8 !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .modal-backdrop {
    width: 100%;
    height: 100%;
  }
  ::i-block-chrome,
  .modal-footer {
    display: block;
    width: 100%;
    text-align: right;
  }
}
.error-dialog .modal-dialog,
.confirm-dialog .modal-dialog,
.form-dialog .modal-dialog {
  max-width: 100%;
  min-width: $screen-min-width;
  width: 100%;
}
.error-dialog .modal-content {
  background: $color-danger;
  border: 0;
}
.error-dialog .modal-content .modal-footer .btn-danger {
  background: #D9534F;
}
.error-dialog .modal-content .modal-footer .btn-danger:hover {
  background: #C82333;
}
.confirm-dialog .modal-content {
  background: $color-primary;
  border: 0;
}
.form-dialog .modal-dialog {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.form-dialog .modal-content {
  border: 10px solid #9AC3BD;
}
.card-group .card,
.card-group .card .line-clamp::after {
  background-color: #EEEEEE;
}
.card-group.card-striped .card-col:nth-of-type(even) .card,
.card-group.card-striped .card-col:nth-of-type(even) .card .line-clamp::after {
  background-color: #D5FFD5;
}
.card .card-body .card-text {
  line-height: 1.5;
}
.card .card-img {
  border-radius: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-img-top {
      min-height: 0.01px;
  }
}
.table {
  table-layout: fixed;
}
.table-bordered {
  border: 0 !important;
}
.table-bordered tbody td {
  border-bottom-width: 1px;
}
.table th,
.table td,
.table td.col-wrap {
  padding: 0.5rem 0.9rem !important;
  line-height: 1.5;
  vertical-align: top !important;
}
.table thead th {
  border-color: #0062CC;
  word-break: break-all;
  word-wrap: break-word;
  border-bottom: 1px solid #0062CC !important;
}
.table thead th.col-wrap,
.table tbody td.col-wrap {
  display: none;
}
.card .card-body .card-text .form .form-group,
.card .card-footer .card-text .form .form-group,
.table tbody td .form .form-group {
  display: table;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.card .card-body .card-text .form .form-group .col-form-label,
.card .card-footer .card-text .form .form-group .col-form-label,
.table tbody td .form .form-group .col-form-label {
  padding-top: .25rem;
  padding-bottom: 0;
  line-height: 1.5;
}
.table tbody td .form .form-group .col-form-label {
  padding-top: 0 !important;
}
.table tbody td .form .form-group .col .form-text {
  margin-top: 0 !important;
}
.card .card-body .card-text .form .form-group .col-form-label:not(.w-100)::after,
.card .card-footer .card-text .form .form-group .col-form-label:not(.w-100)::after,
.table tbody td .form .form-group .col-form-label:not(.w-100)::after {
  float: right;
  content: ':';
  margin-left: 15px;
}
.card .card-body .card-text .form .form-group .col,
.card .card-footer .card-text .form .form-group .col,
.table tbody td .form .form-group .col {
  display: table-cell;
  vertical-align: top;
  word-wrap: break-word;
}

.table .col-index {
  width: 98px;
  min-width: 98px;
}
.tooltip-custom {
  z-index: 10051 !important;
}
.tooltip-custom .tooltip-inner {
  font-family: $font-family;
  font-size: 110%;
  max-width: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  [x-placement^=top].bs-tooltip-auto .arrow,
  .bs-tooltip-top .arrow {
    bottom: 1px;
  }
  [x-placement^=left].bs-tooltip-auto .arrow,
  .bs-tooltip-left .arrow {
    right: 1px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _:-ms-lang(x),
  _:-webkit-full-screen,
  [x-placement^=top].bs-tooltip-auto .arrow,
  .bs-tooltip-top .arrow {
    bottom: 1px;
  }
  [x-placement^=left].bs-tooltip-auto .arrow,
  .bs-tooltip-left .arrow {
    right: 1px;
  }
}
.form .form-row,
.form .form-row .form-group {
  display: block;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .form .form-row {
    display: table;
    table-layout: fixed;
  }
  .form .form-row .form-group {
    display: table-cell;
    padding-bottom: 1rem;
    padding-right: 5px;
    padding-left: 5px;
  }
}
.form .form-group .col {
  padding-right: 0;
}
.form-control:focus,
.ng-select.ng-select-opened .ng-select-container,
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container,
.ng-dropdown-panel {
  border-color: #FB542B;
  outline: 0;
  box-shadow: 0 0 0 0;
}
.inputbox,
.ng-select .ng-select-container {
  height: 35px;
  min-height: 35px !important;
  border-radius: 0;
  border: 1px solid #BDC3C7;
  padding: 0 0.3rem 0 0.3rem;
  color: #000000;
  background-color: #FFFFFF;
  outline: none;
  cursor: default;
}
.ng-select .ng-select-container {
  display: table !important;
  table-layout: fixed;
}
.ng-select .ng-select-container .ng-value-container,
.ng-select .ng-clear-wrapper,
.ng-select .ng-arrow-wrapper {
  display: table-cell !important;
  vertical-align: middle !important;
}
.ng-select .ng-select-container {
  height: 35px !important;
}
.ng-select .ng-select-container .ng-value-container {
  padding: 0;
}
.ng-select .ng-select-container .ng-value-container .ng-value {
  padding-top: 1px !important;
}
.ng-select .ng-select-container .ng-value-container .ng-input {
  top: 4px !important;
  padding-left: 0.3rem !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .ng-select .ng-select-container .ng-value-container .ng-value {
    padding-top: 0 !important;
  }
  ::i-block-chrome,
  .ng-select .ng-select-container .ng-value-container .ng-input {
    top: 3px !important;
  }
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  .ng-select .ng-select-container .ng-value-container .ng-value {
    padding-top: 0 !important;
  }
}
.ng-select div,
.ng-select input,
.ng-select span {
  font-weight: $font-weight-class-regular;
}
.ng-select .ng-clear-wrapper .ng-clear {
  font-size: 32px !important;
}
.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  top: -3px;
}
.ng-dropdown-panel.ng-select-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.ng-dropdown-panel.ng-select-bottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 0;
}
.ng-dropdown-panel {
  border-top-width: 0;
  box-shadow: 0;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-weight: $font-weight-class-regular;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  white-space: normal !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
  font-weight: $font-weight-class-bold;
}
.dropdown-menu {
  background: transparent;
  opacity: 0.9;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: 0;
  border-radius: 0;
}
.dropdown-menu-inner {
  background: #000000;
  border-radius: 0.25rem;
  padding: 0.70rem 0.58rem;
}
.filter.form .card {
  background: inherit;
  border: 0;
  border-radius: o;
}
.filter.form .card-header{
  background: inherit;
  border-bottom: 0;
}
.line-clamp {
  display: block;
  display: -webkit-box;
	-webkit-box-orient: vertical;
  position: relative;
  line-height: $line-clamp-line-height;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.65rem;
}
.line-clamp::before {
  content: '...';
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1rem;
}
.line-clamp::after {
  content: '';
  text-align: right;
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1.2rem;
  background: transparent;
}
@supports (-webkit-line-clamp: 1) {
  .line-clamp {
    padding-right: 0;
  }
  .line-clamp::before {
		display: none !important;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .line-clamp::before,
  .line-clamp::after {
    display: none !important;
  }
}
.line-clamp-1 {
  -webkit-line-clamp: 1;
	max-height: calc(1em * #{$line-clamp-line-height} * 1);
}
.line-clamp-2 {
	-webkit-line-clamp: 2;
	height: calc(1em * #{$line-clamp-line-height} * 2);
}
.line-clamp-3 {
	-webkit-line-clamp: 3;
	max-height: calc(1em * #{$line-clamp-line-height} * 3);
}
.line-clamp-4 {
	-webkit-line-clamp: 4;
  max-height: calc(1em * #{$line-clamp-line-height} * 4);
}
.line-clamp-5 {
	-webkit-line-clamp: 5;
	max-height: calc(1em * #{$line-clamp-line-height} * 5);
}
.datetime-vertical {
  width: 32px;
}
.datetime-vertical .day,
.datetime-vertical .month,
.datetime-vertical .year,
.datetime-vertical .time {
  width: auto;
}
.datetime-vertical .day div,
.datetime-vertical .month div,
.datetime-vertical .year div,
.datetime-vertical .time div {
  float: left
}
.datetime-vertical .day div:not(:first-child):not(:last-child),
.datetime-vertical .month div:not(:first-child):not(:last-child),
.datetime-vertical .year div:not(:first-child):not(:last-child),
.datetime-vertical .time div:not(:first-child):not(:last-child)  {
  text-align: center;
}
.datetime-vertical .day div:last-child,
.datetime-vertical .month div:last-child,
.datetime-vertical .year div:last-child,
.datetime-vertical .time div:last-child {
  text-align: right;
}
.datetime-vertical .day {
  line-height: 1.2rem;
}
.datetime-vertical .day div{
  width: 50%;
}
.datetime-vertical .month {
  line-height: 1rem;
}
.datetime-vertical .month div{
  width: 33.33%;
}
.datetime-vertical .year {
  line-height: 1rem;
}
.datetime-vertical .year div {
  width: 25%;
}
.datetime-vertical .time div {
  width: 20%;
}
.d-table.calendar-date .d-table-cell {
  vertical-align: top;
}
.d-table.calendar-date .d-table-cell:not(:last-child) {
  width: 20px;
  line-height: 1.2;
}
.d-table.calendar-date .d-table-cell:last-child {
  padding-top: 1px;
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  .d-table.calendar-date .d-table-cell:last-child {
    padding-top: 2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .d-table.calendar-date .d-table-cell:last-child {
    padding-top: 2px;
  }
}
.badge.badge-pill i {
  position: relative;
}
