/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๐๖/๑๑/๒๕๖๒>
Modify date : <๐๔/๐๒/๒๕๖๓>
Description : <>
=============================================
*/

@import 'font.scss';

$color-primary: #337AB7;
$color-secondary: #A6C;
$color-success: mediumseagreen;
$color-danger: #D43F3A;
$color-warning: #FB3;
$color-info: #46B8DA;

$screen-max-width: 768px;
$header-max-height: 80px;
$image-path: "../assets/images";

@mixin table-responsive-step1($class)
{
  #{$class} .table th:not(.col-wrap),
  #{$class} .table td:not(.col-wrap) {
    display: none !important;
  }
  #{$class} .table td.col-wrap.col-wrap-step1 {
    display: table-cell;
  }
}

.font {
  font-family: $font-family;
}
body {
  background-color: #FFFFFF;
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  margin: 0;
  padding: 0;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: default;
}
html, body {
  height: 100%;
}
a,
a:link,
a:active,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
a:link.link,
a:focus.link {
  color: #000000;
  text-decoration: underline;
}
a:hover.link {
  color: #C51A1B;
}
main {
  min-height: 100%;
  position: relative;
}
main header,
main section,
main footer,
.sticky {
  width: 100%;
}
main header .container,
main section .container,
main section .container .view,
main footer .container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
main header .container .navbar-top,
main header .container .navbar-header {
  width: inherit;
}
main header .container .navbar-header {
  padding: 0 10px 7px 9px;
}
main section .container {
  padding: 0 0 0 0;
  min-height: 100%;
}
main footer {
  position: absolute;
  background: #000000;
	bottom: 0;
	left: 0;
  z-index: 1;
}
main footer .container {
  padding: 16px 10px 19px 10px;
}
.full-screen {
  position: fixed !important;
}
.msg-loading {
  z-index: 2000;
  position: fixed;
  color: white;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  margin-top: 45px;
}
.hidden{
  display: none;
}
.sticky {
  position: fixed;
  z-index: 10050;
}
.overflow-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.panel-table {
  display: table;
  width: 100%;
}
.panel-table .panel-row {
  display: table-row;
}
.panel-table .panel-col {
  display: table-cell;
  vertical-align: top;
}
.btn {
  min-height: 36px;
  min-width: 80px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;

}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
  outline-offset: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: none;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn[disabled],
.btn[disabled]:hover {
  filter: alpha(opacity=40);
  opacity: .40;
}
.btn div {
  display: table-cell;
  vertical-align: middle;
}
.btn-transparent {
  background-color: transparent;
  border: 2px solid #DADCE0;
}
.btn-transparent:hover {
  background-color: #F7F8F8;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.padding-top-10 {
  padding-top: 10px;
}
.margin-top-16 {
  margin-top: 16px;
}
.margin-bottom-16 {
  margin-bottom: 16px;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-botttom {
  margin-bottom: 0;
}
.no-border {
  border: none;
}
.block-fit {
  display: block;
  width: 100%;
}
body.modal-open {
  padding-right: 0 !important;
  overflow: hidden !important;
}
.modal {
  top: 80px !important;
  height: calc(100% - #{$header-max-height}) !important;
}
.modal-dialog {
  margin: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.modal-dialog .modal-content .modal-body {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.modal-dialog .modal-content .modal-footer {
  border-top: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}
.modal-dialog .modal-content .modal-footer > * {
  margin-top: 0 !important;
}
@media screen and (max-width: 199px) {
  .modal-dialog .modal-content .modal-footer {
    display: table;
    width: 100%;
  }
  .modal-dialog .modal-content .modal-footer > .btn:not(:first-child) {
    margin-top: .5rem !important;
    margin-right: 0;
    margin-left: 0;
  }
  .modal-dialog .modal-content .modal-footer > .btn:not(:last-child) {
    margin-top: 0 !important;
    margin-right: 0;
    margin-left: 0;
  }
  .modal-dialog .modal-content .modal-footer .btn {
    display: block;
    width: 100%;
  }
}
.modal-backdrop.show {
  opacity: 0.8 !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .modal-backdrop {
    width: 100%;
    height: 100%;
  }
  ::i-block-chrome,
  .modal-footer {
    display: block;
    width: 100%;
    text-align: right;
  }
}
.confirm-dialog .modal-dialog {
  max-width: 100%;
  width: 100%;
}
.confirm-dialog .modal-content {
  background-color: $color-primary;
  border: 0;
  border-radius: 0;
}
.card .card-body .card-text {
  line-height: 1.8;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-img-top {
      min-height: 0.01px;
  }
}
.table {
  table-layout: auto;
}
.table-bordered {
  border: 0 !important;
}
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 1px;
}
.table th,
.table td,
.table td.col-wrap {
  padding: 0.5rem 0.9rem;
  line-height: 1.8;
  vertical-align: top;
}
.table thead th {
  border-color: #0062CC;
  word-break: break-all;
  word-wrap: break-word;
  vertical-align: top;
}
.table thead th:first-child,
.table tbody td:first-child {
  border-left: 0 !important;
}
.table thead th.col-wrap,
.table tbody td.col-wrap {
    display: none;
}
.table tbody td.col-wrap form .form-group {
  display: table;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.table tbody td.col-wrap form .form-group .col-form-label {
  padding-top: .25rem;
  padding-bottom: 0;
  line-height: 1.8;
}
.table tbody td.col-wrap form .form-group .col-form-label::after {
  float: right;
  content: ':';
  margin-left: 15px;
}
.table tbody td.col-wrap form .form-group .col {
  display: table-cell;
}
.table .col-index {
  width: 98px;
  min-width: 98px;
}
.tooltip-custom .tooltip-inner {
  font-family: $font-family;
  font-size: 110%;
  max-width: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  [x-placement^=top].bs-tooltip-auto .arrow,
  .bs-tooltip-top .arrow {
    bottom: 1px;
  }
  [x-placement^=left].bs-tooltip-auto .arrow,
  .bs-tooltip-left .arrow {
    right: 1px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _:-ms-lang(x),
  _:-webkit-full-screen,
  [x-placement^=top].bs-tooltip-auto .arrow,
  .bs-tooltip-top .arrow {
    bottom: 1px;
  }
  [x-placement^=left].bs-tooltip-auto .arrow,
  .bs-tooltip-left .arrow {
    right: 1px;
  }
}
