<div class="project-detail-view">
  <div class="modal-header">
    <div class="modal-title">{{'project.detail' | translate | titlecase}}</div>
    <div class="modal-close">
      <button type="button" class="close" aria-label="Close" (click)="$event.currentTarget.blur(); activeModal.close('close')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body pt-0 pr-0 pb-0 pl-0">
    <div class="card-group">
      <div class="card-col pr-0 pl-0 w-100">
        <div class="card card-horizontal bg-white border-0 rounded-0 project-card-horizontal">
          <div class="card-body pt-0 pr-3 pb-2 pl-3 project-body">
            <div class="d-inline-block col-sm-3 pl-0 align-top">
              <ng-container *ngTemplateOutlet="titleInfo"></ng-container>
            </div>
            <div class="d-inline-block col-sm-9 pt-1 pr-0 pb-0 align-top">
              <div class="card-text">
                <div class="mb-3"><ng-container *ngTemplateOutlet="projectInfo"></ng-container></div>
                <div class="mb-3"><ng-container *ngTemplateOutlet="registerInfo"></ng-container></div>
                <ng-container *ngTemplateOutlet="registerButtonInfo"></ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-vertical bg-white border-0 rounded-0 project-card-vertical">
          <div class="card-body pt-0 pr-3 pb-1 pl-3 project-body">
            <ng-container *ngTemplateOutlet="titleInfo"></ng-container>
            <div class="card-text mb-3">
              <div class="mt-3 mb-3"><ng-container *ngTemplateOutlet="projectInfo"></ng-container></div>
              <ng-container *ngTemplateOutlet="registerInfo"></ng-container>
            </div>
          </div>
          <div class="card-footer text-right border-top-0 bg-transparent pt-0 pr-3 pb-2 pl-3 project-footer">
            <div class="card-text">
              <ng-container *ngTemplateOutlet="registerButtonInfo"></ng-container>
            </div>
          </div>
        </div>
        <div class="bg-white pt-2 pr-3 pb-3 pl-3">
          <div class="jumbotron rounded-xl mb-0 p-3">
            <div class="border-bottom border-white pb-2">
              <span class="bold text-primary size20">{{'location.info' | translate | titlecase}}</span>
            </div>
            <div *ngIf="data.transProject$.transLocation.length"><ng-container *ngTemplateOutlet="locationInfo"></ng-container></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #titleInfo>
  <div class="title-info">
    <div class="embed-responsive embed-responsive-16by9 mb-3">
      <div class="card-img" [ngStyle]="{'background-image': ('url(' + data.transProject$.project.logo + ')')}"></div>
    </div>
    <div class="card-title mb-0">
      <div class="float-left datetime-vertical bold text-body">
        <div class="day bolder size24">
          <div>{{data.transProject$.examDate ? (data.transProject$.examDate | slice:0:1) : ''}}</div>
          <div>{{data.transProject$.examDate ? (data.transProject$.examDate | slice:1:2) : ''}}</div>
        </div>
        <div class="clearfix"></div>
        <div class="month size16">
          <div>{{data.transProject$.examDate ? ((data.transProject$.examDate | slice:3:4) | uppercase) : ''}}</div>
          <div>{{data.transProject$.examDate ? ((data.transProject$.examDate | slice:4:5) | uppercase) : ''}}</div>
          <div>{{data.transProject$.examDate ? ((data.transProject$.examDate | slice:5:6) | uppercase) : ''}}</div>
        </div>
        <div class="clearfix"></div>
        <div class="year size14">
          <div>{{data.transProject$.examDate ? (data.transProject$.examDate | slice:7:8) : ''}}</div>
          <div>{{data.transProject$.examDate ? (data.transProject$.examDate | slice:8:9) : ''}}</div>
          <div>{{data.transProject$.examDate ? (data.transProject$.examDate | slice:9:10) : ''}}</div>
          <div>{{data.transProject$.examDate ? (data.transProject$.examDate | slice:10:11) : ''}}</div>
        </div>
        <div class="clearfix"></div>
        <div class="time size11 text-secondary">
          <div>{{data.transProject$.examDate ? (data.transProject$.examDate | slice:12:13) : ''}}</div>
          <div>{{data.transProject$.examDate ? (data.transProject$.examDate | slice:13:14) : ''}}</div>
          <div>{{data.transProject$.examDate ? (data.transProject$.examDate | slice:14:15) : ''}}</div>
          <div>{{data.transProject$.examDate ? (data.transProject$.examDate | slice:15:16) : ''}}</div>
          <div>{{data.transProject$.examDate ? (data.transProject$.examDate | slice:16:17) : ''}}</div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="float-right">
        <div class="registration-status text-right" ngbTooltip="{{(dataService.registrationStatus.get(data.transProject$.registrationStatus)).name[appService.lang]}}" placement="left" title="{{(dataService.registrationStatus.get(data.transProject$.registrationStatus)).name[appService.lang]}}">
          <i class="fa fa-lock size36"
            [ngClass]="{
              'text-success': (data.transProject$.registrationStatus === 'Y'),
              'text-warning': (data.transProject$.registrationStatus === 'W'),
              'text-danger ': (data.transProject$.registrationStatus === 'N'),
              'fa-unlock': (data.transProject$.registrationStatus === 'Y'),
              'fa-lock': (data.transProject$.registrationStatus !== 'Y')
            }">
          </i>
        </div>
        <div class="text-right" ngbDropdown placement="bottom-left">
          <a class="badge badge-pill badge-dark" href="javascript:void(0)" ngbDropdownToggle>
            <i class="fa fa-phone text-white size15"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="contact-info" class="contact-info">
            <div class="dropdown-menu-inner"><ng-container *ngTemplateOutlet="contactInfo"></ng-container></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</ng-template>
<ng-template #contactInfo>
  <div class="contact-info text-white size14">
    <div class="form">
      <div class="form-group row mr-0 mb-1 ml-0">
        <label for="col-name" class="col-form-label pt-0 pb-0"><i class="fa fa-address-book-o"></i></label>
        <div class="col text-left">
          <span class="form-text regular mt-0">{{data.transProject$.contactPerson.fullName[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mr-0 mb-1 ml-0">
        <label for="col-email" class="col-form-label pt-0 pb-0"><i class="fa fa-envelope-o"></i></label>
        <div class="col text-left">
          <span class="form-text regular mt-0">{{data.transProject$.contactPerson.email}}</span>
        </div>
      </div>
      <div class="form-group row mr-0 mb-0 ml-0">
        <label for="col-phone" class="col-form-label pt-0 pb-0"><i class="fa fa-phone"></i></label>
        <div class="col text-left">
          <span class="form-text regular mt-0">{{data.transProject$.contactPerson.phoneNumber}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #projectInfo>
  <div class="project-info">
    <p class="bold size22 mb-0">{{data.transProject$.project.name[appService.lang]}}</p>
    <p class="regular text-danger size15" *ngIf="data.transProject$.registrationStatus !== 'Y'">( {{(dataService.registrationStatus.get(data.transProject$.registrationStatus)).name[appService.lang]}} )</p>
    <p class="regular text-justify-distribute text-black-50 size16 line-clamp mt-2 mb-0" id="projectDetail" [ngbCollapse]="!isCollapsed.projectDetail">{{data.transProject$.project.detail}}</p>
    <a class="badge badge-pill badge-secondary mt-2 pr-25 pl-25" href="javascript:void(0)" (click)="isCollapsed.projectDetail = !isCollapsed.projectDetail" [attr.aria-expanded]="isCollapsed.projectDetail" aria-controls="projectDetail">
      <span class="regular text-white size14">{{'detail' | translate | lowercase}}</span>
    </a>
  </div>
</ng-template>
<ng-template #registerInfo>
  <div class="register-info">
    <div class="regular size16">
      <div class="form">
        <div class="form-group row mb-1">
          <label for="col-seat" class="col-form-label">{{'project.seat' | translate | titlecase}}</label>
          <div class="col">
            <span class="form-text regular">{{data.transProject$.maximumSeat ? ((data.transProject$.maximumSeat | number) + ' ' + ('unit.persons' | translate | titlecase)) : ''}}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <label for="col-seatavailable" class="col-form-label">{{'project.seatAvailable' | translate | titlecase}}</label>
          <div class="col">
            <span class="form-text regular">{{(data.transProject$.seatAvailable | number) + ' ' + ('unit.persons' | translate | titlecase)}}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <label for="col-registrationdate" class="col-form-label">{{'project.registrationDate' | translate | titlecase}}</label>
          <div class="col">
            <div class="d-table calendar-date">
              <div class="d-table-row">
                <div class="d-table-cell align-bottom"><span class="text-success size20"><i class="fa fa-calendar"></i></span></div>
                <div class="d-table-cell"
                  [ngClass]="{
                    'align-middle': (deviceService.browser !== 'Safari'),
                    'pt-1': (deviceService.browser === 'Safari')
                  }">
                  <span class="text-success size12"><i class="fa fa-play"></i></span>
                </div>
                <div class="d-table-cell align-middle"><span class="text-success" ngbTooltip="{{'project.registrationDate' | translate | titlecase}} ( {{'start' | translate | titlecase}} )" title="{{'project.registrationDate' | translate | titlecase}} ( {{'start' | translate | titlecase}} )">{{data.transProject$.registrationDate.startDate}}</span></div>
              </div>
              <div class="d-table-row">
                <div class="d-table-cell align-bottom"><span class="text-danger size20"><i class="fa fa-calendar"></i></span></div>
                <div class="d-table-cell"
                  [ngClass]="{
                    'align-middle': (deviceService.browser !== 'Safari'),
                    'pt-1': (deviceService.browser === 'Safari')
                  }">
                  <span class="text-danger size12"><i class="fa fa-stop"></i></span>
                </div>
                <div class="d-table-cell align-middle"><span class="text-danger" ngbTooltip="{{'project.registrationDate' | translate | titlecase}} ( {{'end' | translate | titlecase}} )" title="{{'project.registrationDate' | translate | titlecase}} ( {{'end' | translate | titlecase}} )">{{data.transProject$.registrationDate.endDate}}</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row mb-1">
          <label for="col-registrationfee" class="col-form-label">{{'project.registrationFee' | translate | titlecase}}</label>
          <div class="col">
            <span class="form-text regular">{{data.transProject$.minimumFee ? ((data.transProject$.minimumFee | number: '.2') + ' ' + ('unit.baht' | translate | titlecase)) : ''}}</span>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label for="col-lastpaymentdate" class="col-form-label">{{'project.lastPaymentDate' | translate | titlecase}}</label>
          <div class="col">
            <div class="d-table calendar-date">
              <div class="d-table-row">
                <div class="d-table-cell align-bottom"><span class="text-danger size20"><i class="fa fa-calendar"></i></span></div>
                <div class="d-table-cell"
                  [ngClass]="{
                    'align-middle': (deviceService.browser !== 'Safari'),
                    'pt-1': (deviceService.browser === 'Safari')
                  }">
                  <span class="text-danger size12"><i class="fa fa-stop"></i></span>
                </div>
                <div class="d-table-cell align-middle"><span class="text-danger">{{data.transProject$.lastPaymentDate}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #registerButtonInfo>
  <div class="registered-btn ml-auto">
    <a [routerLink]="['CBX/Registered', data.transProject$.ID]" routerLinkActive="active" class="btn"
      [ngClass]="{
        'btn-success': (data.transProject$.registrationStatus === 'Y'),
        'btn-warning': (data.transProject$.registrationStatus === 'W'),
        'btn-danger': (data.transProject$.registrationStatus === 'N'),
        'disabled': (data.transProject$.registrationStatus !== 'Y' || data.transProject$.transLocation.length === 0)
      }">
      <span class="font bold text-white size20">{{'registered.label' | translate | titlecase}}</span>
    </a>
  </div>
</ng-template>
<ng-template #locationInfo>
  <div class="location-info">
    <table class="table table-bordered mb-0">
      <thead class="text-black-50 size18">
        <tr>
          <th class="border-top-0 border-left-0 border-white pl-0 bold col-index">{{'order' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-location">{{'location.label' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-building">{{'building.label' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-seattotal">{{'location.seatTotal' | translate | titlecase}}</th>
          <th class="border-top-0 border-right-0 border-white pr-0 bold col-seatavailable">{{'location.seatAvailable' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-wrap col-wrap-step1 col-location-building">{{'location.label' | translate | titlecase}} / {{'building.label' | translate | titlecase}}</th>
          <th class="border-top-0 border-right-0 border-white pr-0 bold col-wrap col-wrap-step1 col-seat">{{'seat.label' | translate | titlecase}} <span class="regular text-muted size12">( {{'total.label' | translate | titlecase}} / {{'remain' | translate | titlecase}} )</span></th>
        </tr>
      </thead>
      <tbody class="border-top-0 size16" *ngFor="let transLocation of data.transProject$.transLocation; index as order">
        <tr>
          <td class="border-top-0 border-right-transparent border-left-0 pl-0 regular col-index" ngbTooltip="{{'order' | translate | titlecase}}" title="{{'order' | translate | titlecase}}">
            {{(order + 1) | number}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-location" ngbTooltip="{{'location.label' | translate | titlecase}}" title="{{'location.label' | translate | titlecase}}">
            {{transLocation.location.name[appService.lang]}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-building" ngbTooltip="{{'building.label' | translate | titlecase}}" title="{{'building.label' | translate | titlecase}}">
            {{transLocation.location.building.name[appService.lang]}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-seattotal" ngbTooltip="{{'location.seatTotal' | translate | titlecase}}" title="{{'location.seatTotal' | translate | titlecase}}">
            {{transLocation.seatTotal}}
          </td>
          <td class="border-top-0 border-right-0 pr-0 regular col-seatavailable" ngbTooltip="{{'location.seatAvailable' | translate | titlecase}}" title="{{'location.seatAvailable' | translate | titlecase}}">
            {{transLocation.seatAvailable}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-wrap col-wrap-step1 col-location-building">
            <ng-container *ngTemplateOutlet="locationBuildingInfo; context: {data: transLocation}"></ng-container>
          </td>
          <td class="border-top-0 border-right-0 pr-0 regular col-wrap col-wrap-step1 col-seat">
            {{transLocation.seatTotal}} / {{transLocation.seatAvailable}}
          </td>
          <td class="border-top-0 border-top-0 border-right-0 border-left-0 pr-0 pl-0 col-wrap col-wrap-step2 regular col-location-building-seat">
            <ng-container *ngTemplateOutlet="locationBuildingSeatInfo; context: {data: transLocation}"></ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<ng-template #locationBuildingInfo let-data="data">
  <div class="location-building-info">
    <div class="form">
      <div class="form-group row mb-1" ngbTooltip="{{'location.info' | translate | titlecase}} ( {{'location.label' | translate | titlecase}} )" title="{{'location.info' | translate | titlecase}} ( {{'location.label' | translate | titlecase}} )">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.name[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mb-0" ngbTooltip="{{'location.info' | translate | titlecase}} ( {{'building.label' | translate | titlecase}} )" title="{{'location.info' | translate | titlecase}} ( {{'building.label' | translate | titlecase}} )>">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.building.name[appService.lang]}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #locationBuildingSeatInfo let-data="data">
  <div class="location-building-seat-info">
    <div class="form">
      <div class="form-group row mb-1" ngbTooltip="{{'location.info' | translate | titlecase}} ( {{'location.label' | translate | titlecase}} )" title="{{'location.info' | translate | titlecase}} ( {{'location.label' | translate | titlecase}} )">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.name[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mb-1" ngbTooltip="{{'location.info' | translate | titlecase}} ( {{'building.label' | translate | titlecase}} )" title="{{'location.info' | translate | titlecase}} ( {{'building.label' | translate | titlecase}} )>">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.building.name[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mb-0" ngbTooltip="{{'location.info' | translate | titlecase}} ( {{'seat.label' | translate | titlecase}} )" title="{{'location.info' | translate | titlecase}} ( {{'seat.label' | translate | titlecase}} )>">
        <div class="col pl-0">
          <span class="form-text regular">{{'seat.label' | translate | titlecase}} {{data.seatTotal}} / {{data.seatAvailable}}</span>
          <span class="regular text-muted size12">{{'total.label' | translate | titlecase}} / {{'remain' | translate | titlecase}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
