/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๗/๐๓/๒๕๖๓>
Modify date : <๑๘/๐๖/๒๕๖๓>
Description : <>
=============================================
*/

@import '../../../styles.scss';

.project-detail-view .project-card-vertical {
  display: none;
}
@media screen and (max-width: 816px) {
  @include project-card-horizontal-fixed('.on-modal', 180px);
}
.project-detail-view .location-info .table .col-index {
  width: 64px;
  min-width: 64px;
}
@media screen and (max-width: 900px) {
  @include table-responsive-step1('.project-detail-view .location-info');
}
@media screen and (max-width: 594px) {
  .project-detail-view .project-card-horizontal .registered-btn {
    width: 100% !important;
  }
  @include table-responsive-step2('.project-detail-view .location-info');
}
@media screen and (max-width: 556px) {
  .project-detail-view .project-card-horizontal {
    display: none;
  }
  .project-detail-view .project-card-vertical {
    display: block;
  }
}
@media screen and (max-width: 533px) {
  .project-detail-view .registered-btn {
    width: 100% !important;
  }
}
