/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๒๑/๐๒/๒๕๖๓>
Modify date : <๒๕/๐๖/๒๕๖๓>
Description : <>
=============================================
*/

@import '../../../styles.scss';

.project-view .card-group {
  margin-left: -0.25rem;
  margin-bottom: -0.25rem;
}
@media screen and (max-width: 606px) {
  .project-view .card-group .card-col.col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.project-view .project-card-horizontal {
  display: none;
}
.project-view .project-card-vertical .title-info .dropdown-menu.show.contact-info {
  top: 26px !important;
  left: -227px !important;
  transform: translate(0, 0) !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .project-view .project-card-vertical {
    display: none;
  }
  ::i-block-chrome,
  .project-view .project-card-horizontal {
    display: block;
  }
  ::i-block-chrome,
  .project-view .title-info .dropdown-menu.show.contact-info {
    left: 9px !important;
  }
  ::i-block-chrome,
  .project-view .project-card-vertical .title-info .dropdown-menu.show.contact-info {
    left: -227px !important;
  }
}
@media screen and (max-width: 520px) {
  ::i-block-chrome,
  .project-view .project-card-vertical {
    display: block;
  }
  ::i-block-chrome,
  .project-view .project-card-horizontal {
    display: none;
  }
}
.project-view .dropdown-menu.menu-info {
  width: 171px;
  min-width: 171px;
}
.project-view .title-info .dropdown-menu.show.menu-info {
  transform: translate(0px, -2px) !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .project-view .title-info .dropdown-menu.show.menu-info {
    top: -2px !important;
    left: 1px !important;
  }
  ::i-block-chrome,
  .project-view .project-info .dropdown-menu.show.menu-info {
    top: 24px !important;
  }
}
