<div class="privilege-view">
  <div class="d-table coupon bg-white rounded-xxl">
    <div class="d-table-cell align-middle kiri">
      <div class="icon-container font-oswald bold text-center text-white">
        <div class="size24">MU</div>
        <div class="size18">Privilege</div>
      </div>
    </div>
    <div class="d-table-cell align-middle w-100 p-3 tengah">
      <div class="title">
        <div class="regular text-monospace text-muted size12 category">MU Privilege</div>
        <span class="bold size20 subject">โครงการสอบซ่อม MU-ELT</span>
      </div>
      <p class="regular text-dammuek mb-0 detail">สอบฟรี 1 ครั้ง</p>
      <div class="font-oswald regular text-black-50 size12 mt-2 date-exp">Exp. 10/10/2020</div>
    </div>
    <div class="d-table-cell align-middle pt-3 pr-2 pb-3 pl-2 kanan">
      <div class="text-center text-success-v2 size36"><i class="fas fa-check-circle"></i></div>
    </div>
  </div>
</div>
