<div class="registered-detail-view" *ngIf="data.transRegistered$">
  <div class="card-group">
    <div class="card-col pr-0 pl-0 w-100">
      <div class="card bg-white border-0 rounded-0">
        <div class="card-body pt-0 pr-3 pb-0 pl-3">
          <div class="card-title mb-0">
            <span class="bold size26">{{'registered.detail' | translate | titlecase}}</span>
          </div>
        </div>
      </div>
      <div class="dropdown-divider mt-1 mb-0"></div>
    </div>
  </div>
</div>
