/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๑/๐๖/๒๕๖๓>
Modify date : <๑๘/๐๖/๒๕๖๓>
Description : <>
=============================================
*/

@import '../../../styles.scss';

.registered-detail-view .project-card-vertical {
  display: none;
}
@media screen and (max-width: 701px) {
  .registered-detail-view .project-card-vertical {
    display: block;
  }
  .registered-detail-view .project-card-horizontal {
    display: none;
  }
}
.registered-detail-view .d-table.calendar-date {
  position: relative;
  top: 2px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .registered-detail-view .d-table.calendar-date {
    top: 1px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .registered-detail-view .d-table.calendar-date {
    top: 3px;
  }
}
@media screen and (max-width: 481px) {
  @include form-responsive('.registered-detail-view .register-info');
}
