/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๗/๐๓/๒๕๖๓>
Modify date : <๓๐/๐๓/๒๕๖๓>
Description : <>
=============================================
*/

@import '../../styles.scss';

.project-detail-view .card-group .card-vertical {
  display: none;
}
@media screen and (max-width: 816px) {
  .project-detail-view .card-group .card-horizontal .card-body.info {
    display: table !important;
    table-layout: fixed;
  }
  .project-detail-view .card-group .card-horizontal .card-body.info .col-sm-3 {
    display: table-cell !important;
    vertical-align: top;
    width: 180px;
    max-width: 180px !important;
  }
  .project-detail-view .card-group .card-horizontal .card-body.info .col-sm-9 {
    display: table-cell;
    vertical-align: top;
    width: auto !important;
    max-width: 100% !important;
  }
}
@media screen and (max-width: 735px) {
  .project-detail-view .card-group .card-horizontal {
    display: none;
  }
  .project-detail-view .card-group .card-vertical {
    display: block;
  }
}
.project-detail-view .card-group .card,
.project-detail-view .card-group .card .line-clamp::after {
  background-color: #FFFFFF;
}
.project-detail-view .card-group .card-vertical .title-info .dropdown-menu.contact-info {
  transform: translate(-222px, 25px) !important;
}
.project-detail-view .card-group .registered-btn {
  border-width: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0px;
  width: 161px;
}
.project-detail-view .register-info .form .form-group .col-form-label {
  width: 161px;
}
.project-detail-view .register-info .d-table.calendar-date {
  margin-top: 3px;
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  .project-detail-view .register-info .d-table.calendar-date {
    margin-top: 2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .project-detail-view .register-info .d-table.calendar-date {
    margin-top: 2px;
  }
}
.project-detail-view .card-group .registered-btn {
  border-width: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0px;
  width: 161px;
}
.project-detail-view .location-info .table .col-index {
  width: 80px;
  min-width: 80px;
}
.project-detail-view .location-info .table .col-seattotal {
  width: 246px;
  min-width: 246px;
}
.project-detail-view .location-info .table .col-seatavailable {
  width: 250px;
  min-width: 250px;
}
.project-detail-view .location-info .table tbody tr:last-child td {
  border-bottom: 0;
}
.project-detail-view .location-building-seat-info .form .form-group .col-form-label {
  width: 136px;
}
.project-detail-view .location-detail-info .form .form-group .col-form-label {
  width: 110px;
}
@media screen and (max-width: 850px) {
  @include table-responsive-step1('.project-detail-view .location-info');
}
@media screen and (max-width: 525px) {
  @include form-responsive('.project-detail-view .register-info');
  .project-detail-view .card-group .registered-btn {
    width: 100%;
  }
  @include table-responsive-step2('.project-detail-view .location-info');
  @include form-responsive('.project-detail-view .location-info .location-detail-info');
}
