/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๗/๐๓/๒๕๖๓>
Modify date : <๒๕/๐๓/๒๕๖๓>
Description : <>
=============================================
*/

@import '../../assets/style/util.scss';

.project-detail-view .card-group .card-vertical {
  display: none;
}
@media screen and (max-width: 816px) {
  .project-detail-view .card-group .card-horizontal .card-body.info {
    display: table !important;
    table-layout: fixed;
  }
  .project-detail-view .card-group .card-horizontal .card-body.info .col-sm-3 {
    display: table-cell !important;
    vertical-align: top;
    width: 180px;
    max-width: 180px !important;
  }
  .project-detail-view .card-group .card-horizontal .card-body.info .col-sm-9 {
    display: table-cell;
    vertical-align: top;
    width: auto !important;
    max-width: 100% !important;
  }
}
@media screen and (max-width: 735px) {
  .project-detail-view .card-group .card-horizontal {
    display: none;
  }
  .project-detail-view .card-group .card-vertical {
    display: block;
  }
}
.project-detail-view .card-group .card {
  border: none;
  border-radius: 0px;
}
.project-detail-view .card-group .card,
.project-detail-view .card-group .card .line-clamp::after {
  background-color: #FFFFFF;
}
.project-detail-view .card-group .card .card-footer {
  border-top: none;
  background: transparent;
}
.project-detail-view .title-info .card-img {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.project-detail-view .title-info .registration-status i {
  position: relative;
  top: -2px;
}
.project-detail-view .register-info .form .form-group .col-form-label {
  width: 161px;
}
.project-detail-view .register-info .d-table.calendar-date {
  margin-top: 3px;
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  .project-detail-view .register-info .d-table.calendar-date {
    margin-top: 2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .project-detail-view .register-info .d-table.calendar-date {
    margin-top: 2px;
  }
}
.project-detail-view .location-info .table .col-index {
  width: 80px;
  min-width: 80px;
}
.project-detail-view .location-info .table .col-seat {
  width: 195px;
  min-width: 195px;
}
.project-detail-view .location-info .table .col-contact {
  width: 32%;
  min-width: 0;
}
.project-detail-view .location-info .table tbody tr:last-child td {
  border-bottom: 0;
}
.project-detail-view .contact-info .form .form-group .col-form-label::after {
  float: none !important;
  content: '' !important;
  margin-left: 0 !important;
}
.project-detail-view .contact-info .form .form-group .col {
  word-break: break-all;
}
.project-detail-view .location-building-seat-info .form .form-group .col-form-label {
  width: 110px;
}
.project-detail-view .location-detail-info .form .form-group .col-form-label {
  width: 110px;
}
@media screen and (max-width: 1020px) {
  @include table-responsive-step1('.project-detail-view .location-info');
  .project-detail-view .location-info .table .col-contact {
    width: auto;
  }
}
@media screen and (max-width: 760px) {
  @include table-responsive-step2('.project-detail-view .location-info');
  .project-detail-view .location-detail-info .contact-info .form .form-group .col-form-label {
    width: 14px;
  }
}
