/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๐๖/๑๑/๒๕๖๒>
Modify date : <๑๕/๑๐/๒๕๖๓>
Description : <>
=============================================
*/

@import '../assets/style/util.scss';

main header .navbar-header-background {
  width: 163px;
  height: 95px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-image: url($image-path + '/header-background.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}
main header .navbar-header-background:not(.has-header-subtitle) {
  width: 105px;
  height: $header-max-height;
}
main header .navbar-header {
  height: $header-max-height;
  background-color: #1D4F91;
}
main header .navbar-header:not(.has-header-subtitle) {
  //border-bottom-left-radius: 1.3rem !important;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
}
main header .navbar-header-title {
  background-color: rgba(29, 79, 145, 0.95);
  //border-bottom-left-radius: 1.3rem !important;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
}
main header .navbar-header-title.row {
  display: table !important;
  table-layout: fixed !important;
  width: 100%;
  height: 36px;
  position: relative;
  top: -1px;
}
main header .navbar-header-title.row .col {
  display: table-cell !important;
  position: relative;
  z-index: 1;
}
main header .navbar-header-title.row .col a i {
  position: relative;
  top: -2px;
}
main header .navbar-header .d-table {
  width: inherit;
  height: inherit;
  table-layout: auto;
}
main header .navbar-header .d-table .d-table-row,
main header .navbar-header .d-table .d-table-cell,
main header .navbar-header .d-table .d-table-cell .label {
  height: inherit;
  vertical-align: middle;
}
main header .navbar-header .d-table .d-table-cell.systeminfo {
  width: 578px;
}
main header .navbar-header .d-table .d-table-cell.systeminfo .owner {
  width: 220px;
}
main header .navbar-header .d-table .d-table-cell.systeminfo .fullname {
  width: 358px !important;
}
main header .navbar-header .d-table .d-table-cell.systeminfo .owner .label,
main header .navbar-header .d-table .d-table-cell.systeminfo .fullname {
  width: inherit;
  background-image: url($image-path + '/label.png');
}
main header .navbar-header .d-table .d-table-cell.systeminfo .owner .label-th {
  //background-position: 0px 0px;
  background-position: 0px -332px;
}
main header .navbar-header .d-table .d-table-cell.systeminfo .owner .label-en {
  //background-position: 0px -80px;
  background-position: 0px -392px;
}
main header .navbar-header .d-table .d-table-cell.systeminfo .fullname {
  //background-position: -251px 0px;
  background-position: -251px -332px;
}
main header .navbar-header .d-table .d-table-cell.userinfo {
  width: auto;
  float: right;
  position: relative;
  z-index: 2;
}
main header .navbar-header .d-table .d-table-cell.userinfo .flags-icon,
main header .navbar-header .d-table .d-table-cell.userinfo .home-icon,
main header .navbar-header .d-table .d-table-cell.userinfo .manual-icon {
  width: 24px;
  padding-left: 10px;
}
main header .navbar-header .d-table .d-table-cell.userinfo .user-icon {
  width: 35px;
  padding-left: 10px;
}
main header .navbar-header .d-table .d-table-cell.userinfo .signin-icon {
  width: 75px;
  padding-left: 10px;
}
main header .navbar-header .d-table .d-table-cell.userinfo .flags-icon a,
main header .navbar-header .d-table .d-table-cell.userinfo .home-icon a,
main header .navbar-header .d-table .d-table-cell.userinfo .manual-icon a {
  position: relative;
}
main header .navbar-header .d-table .d-table-cell.userinfo .user-icon #profile,
main header .navbar-header .d-table .d-table-cell.userinfo .signin-icon a {
  display: block;
  width: inherit;
  height: 35px;
  border-radius: 5rem;
  position: relative;
}
main header .navbar-header .d-table .d-table-cell.userinfo .user-icon #profile {
  line-height: 36px;
}
main header .navbar-header .d-table .d-table-cell.userinfo .user-icon #profile.dropdown-toggle::after {
  display: none;
}
main header .navbar-header .d-table .d-table-cell.userinfo .user-icon .dropdown-menu {
  width: 293px;
  opacity: 1;
}
main header .navbar-header .d-table .d-table-cell.userinfo .user-icon .dropdown-menu-inner {
  border-radius: 0.6rem;
}
main header .navbar-header .d-table .d-table-cell.userinfo .user-icon .dropdown-menu .d-table {
  table-layout: fixed;
  padding-left: 15px;
  padding-right: 15px;
}
main header .navbar-header .d-table .d-table-cell.userinfo .user-icon .dropdown-menu .user-icon {
  display: block;
  width: 80px;
  height: 80px;
  line-height: 82px;
  border-radius: 50%;
  padding-left: 0px;
}
main header .navbar-header .d-table .d-table-cell.userinfo .user-icon .dropdown-menu .dropdown-item.active,
main header .navbar-header .d-table .d-table-cell.userinfo .user-icon .dropdown-menu .dropdown-item:active {
  color: #16181B;
  background-color: #F8F9Fa;
}
main header .navbar-header .d-table .d-table-cell.userinfo .signin-icon a {
  border: 1px solid #FFFFFF;
  border-radius: .25rem;
  line-height: 34px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  main header .navbar-header .d-table .d-table-cell.userinfo .flags-icon a {
    top: 1px;
  }
  main header .navbar-header .d-table .d-table-cell.userinfo .home-icon a {
    top: 2px;
  }
  main header .navbar-header .d-table .d-table-cell.userinfo .manual-icon a {
    top: 3px;
  }
  _:-ms-lang(x),
  _:-webkit-full-screen,
  main header .navbar-header .d-table .d-table-cell.userinfo .flags-icon a {
    top: 2px;
  }
  ::i-block-chrome,
  main header .navbar-header .d-table .d-table-cell.userinfo .user-icon .dropdown-menu.show {
    transform: translate3d(-243px, 58px, 0);
    -webkit-transform: translate3d(-243px, 58px, 0);
  }
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  main header .navbar-header .d-table .d-table-cell.userinfo .flags-icon a {
    top: 2px;
  }
  main header .navbar-header .d-table .d-table-cell.userinfo .home-icon a {
    top: 3px;
  }
}
@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  main header .navbar-header .d-table .d-table-cell.userinfo .flags-icon a {
    top: 2px;
  }
  main header .navbar-header .d-table .d-table-cell.userinfo .home-icon a {
    top: 3px;
  }
  main header .navbar-header .d-table .d-table-cell.userinfo .manual-icon a {
    top: 4px;
  }
}
@media screen and (max-width: $screen-max-width) {
  main header .navbar-header .d-table .d-table-cell.systeminfo {
    width: 413px;
  }
  main header .navbar-header .d-table .d-table-cell.systeminfo .owner {
    width: 55px;
  }
}
@media screen and (max-width: 645px) {
  main header .navbar-header .d-table .d-table-cell.systeminfo {
    width: 331px;
  }
  main header .navbar-header .d-table .d-table-cell.systeminfo .fullname {
    width: 276px;
    background-position: 0px -452px;
  }
}
@media screen and (max-width: 565px) {
  main header .navbar-header .d-table .d-table-cell.systeminfo {
    width: 175px;
  }
  main header .navbar-header .d-table .d-table-cell.systeminfo .fullname {
    width: 120px;
    background-position: 0px -512px;
  }
}
@media screen and (max-width: 408px) {
  main header .navbar-header .d-table .d-table-cell.systeminfo {
    width: 120px;
  }
  main header .navbar-header .d-table .d-table-cell.systeminfo .owner {
    display: none !important;
  }
}
main footer {
  background:  #282828;
  border-top: 5px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.4);
}
