<ngx-loading [show]="appService.isLoading"></ngx-loading>
<span class="msg-loading font regular size16" *ngIf="appService.isLoading">{{'msgLoading.loading' | translate}}</span>
<main>
  <header #headerView class="sticky">
    <div class="container">
      <div class="navbar-header pr-3 pl-3">
        <div class="d-table">
          <div class="d-table-cell systeminfo">
            <div class="d-table">
              <div class="d-table-cell owner">
                <div class='label label-th' *ngIf="appService.lang === 'th'"></div>
                <div class='label label-en' *ngIf="appService.lang === 'en'"></div>
              </div>
              <div class="d-table-cell fullname"></div>
            </div>
          </div>
          <div class="d-table-cell userinfo">
            <div class="d-table">
              <div class="d-table-cell flags-icon">
                <a href="javascript:void(0)" *ngIf="appService.lang === 'en'" (click)="$event.currentTarget.blur(); appService.setDefaultLang('th')"><span class="regular flag-icon flag-icon-th"></span></a>
                <a href="javascript:void(0)" *ngIf="appService.lang === 'th'" (click)="$event.currentTarget.blur(); appService.setDefaultLang('en')"><span class="regular flag-icon flag-icon-gb"></span></a>
              </div>
              <div class="d-table-cell home-icon">
                <a routerLink="Home" routerLinkActive="active"><span class="regular text-white size24"><i class='fa fa-home'></i></span></a>
              </div>
              <div class="d-table-cell text-center user-icon" ngbDropdown #profileDropdown="ngbDropdown" placement="bottom-right" *ngIf="authService.isAuthenticated && !appService.isLoading">
                <a href="javascript:void(0)" id="profile" ngbDropdownToggle [ngStyle]="{'background-color': userBackgrondColor}">
                  <span class="regular text-white size18">{{(authService.getUserInfo.givenName[0] | uppercase)}}{{(authService.getUserInfo.familyName[0] | uppercase)}}</span>
                </a>
                <div ngbDropdownMenu aria-labelledby="profile" class="pt-3 pb-3">
                  <div class="d-table">
                    <div class="d-table-row">
                      <div class="d-table-cell text-center">
                        <div class="mr-auto ml-auto center user-icon" [ngStyle]="{'background-color': userBackgrondColor}">
                          <span class="regular text-white size48">{{(authService.getUserInfo.givenName[0] | uppercase)}}{{(authService.getUserInfo.familyName[0] | uppercase)}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="d-table-row">
                      <div class="d-table-cell text-center pt-3">
                        <div class="regular size18 text-truncate">{{authService.getUserInfo.givenName}} {{(authService.getUserInfo.familyName)}}</div>
                        <div class="regular text-black-50 size16 text-truncate">{{authService.getUserInfo.email}}{{authService.getUserInfo.email}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-divider mt-3 mb-0"></div>
                  <a class="text-center" href="javascript:void(0)" role="button" ngbDropdownItem><span class="regular grey-dark size15">{{'profile.personalInfo' | translate | titlecase}}</span></a>
                  <a class="text-center" href="javascript:void(0)" role="button" ngbDropdownItem><span class="regular grey-dark size15">{{'profile.examApplicationInfo' | translate | titlecase}}</span></a>
                  <div class="dropdown-divider mb-3 mt-0"></div>
                  <div class="d-block w-100 text-center">
                    <button type="button" class="btn btn-transparent" (click)="$event.currentTarget.blur(); profileDropdown.close(); authService.signout.modalOpen(SignoutDialog)"><span class="regular size16">{{'signout.label' | translate}}</span></button>
                  </div>
                </div>
              </div>
              <div class="d-table-cell text-center signin-icon" *ngIf="!authService.isAuthenticated && !appService.isLoading">
                <a routerLink="SignIn" routerLinkActive="active"><span class="regular text-white size15">{{'signin' | translate}}</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section [ngStyle]="sectionStyle">
    <div class="container">
      <router-outlet *ngIf="!isLoading"></router-outlet>
    </div>
  </section>
  <footer #footerView>
    <div class="container text-center p-3">
      <span class="regular text-secondary size14">
        <div *ngIf="appService.lang === 'th'"><span class="regular size16"><i class="fa fa-copyright" aria-hidden="true"></i></span> สงวนลิขสิทธิ์ พ.ศ.2562{{(today.getFullYear() + 543) > 2562 ? (' - ' + (today.getFullYear() + 543)) : ''}} มหาวิทยาลัยมหิดล, พัฒนาโดย กองเทคโนโลยีสารสนเทศ</div>
        <div *ngIf="appService.lang === 'en'">Copyright <span class="regular size16"><i class="fa fa-copyright"></i></span> 2019{{today.getFullYear() > 2019 ? (' - ' + today.getFullYear()) : ''}} Mahidol University. All rights reserved.</div>
      </span>
    </div>
  </footer>
</main>
<ng-template #SignoutDialog let-modal>
  <div class="font">
    <div class="modal-body">
      <span class="regular text-white size16">{{'signout.confirm' | translate}}</span>
    </div>
    <div class="modal-footer">
      <input class="d-none" type="text" />
      <button type="button" class="btn btn-primary ml-0" (click)="$event.currentTarget.blur(); modal.dismiss('N')"><span class="regular size16">{{'cancel' | translate}}</span></button>
      <button type="button" class="btn btn-primary mr-0" (click)="$event.currentTarget.blur(); modal.close('Y')"><span class="regular size16">{{'ok' | translate}}</span></button>
    </div>
  </div>
</ng-template>
