<ngx-loading [show]="isLoading"></ngx-loading>
<span class="msg-loading font regular size16" *ngIf="isLoading">{{'msgLoading.loading' | translate}}</span>
<main>
  <header #headerView class="sticky">
    <div class="container">
      <div class="navbar-header">
        <div class="panel-table">
          <div class="panel-row">
            <div class="panel-col systeminfo">
              <div class="panel-table">
                <div class="panel-row">
                    <div class="panel-col owner">
                        <div class='label label-th' *ngIf="appService.lang === 'th'"></div>
                        <div class='label label-en' *ngIf="appService.lang === 'en'"></div>
                    </div>                    
                    <div class="panel-col fullname"></div>
                </div>
              </div>
            </div>
            <div class="panel-col userinfo">
              <div class="panel-table">
                <div class="panel-row">
                  <div class="panel-col flags-icon">
                    <a href="javascript:void(0)" *ngIf="appService.lang === 'en'" (click)="appService.setDefaultLang('th')"><span class="font regular size18 flag-icon flag-icon-th"></span></a>
                    <a href="javascript:void(0)" *ngIf="appService.lang === 'th'" (click)="appService.setDefaultLang('en')"><span class="font regular size18 flag-icon flag-icon-gb"></span></a>
                  </div>
                  <div class="panel-col home-icon">
                    <a routerLink="Home" routerLinkActive="active"><span class="font regular white size24"><i class='fa fa-home'></i></span></a>
                  </div>
                  <div class="panel-col text-center user-icon" *ngIf="authService.isAuthenticated">
                    <a href="#" [ngStyle]="{'background-color': userBackgrondColor}">
                      <span class="font regular white size18">{{(authService.getUserInfo.givenName[0] | uppercase)}}{{(authService.getUserInfo.givenName[1] | lowercase)}}</span>
                    </a>
                  </div>
                  <div class="panel-col text-center signin-icon" *ngIf="!authService.isAuthenticated">
                    <a routerLink="SignIn" routerLinkActive="active"><span class="font regular white size16">Sign in</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section [ngStyle]="sectionStyle">
    <div class="container">
      <router-outlet *ngIf="!isLoading"></router-outlet>
    </div>      
  </section>
  <footer #footerView>
    <div class="container text-center">
      <span class="font regular gray size14">
        <div *ngIf="appService.lang === 'th'"><span class="font regular size16"><i class="fa fa-copyright" aria-hidden="true"></i></span> สงวนลิขสิทธิ์ พ.ศ.2562{{(today.getFullYear() + 543) > 2562 ? (' - ' + (today.getFullYear() + 543)) : ''}} มหาวิทยาลัยมหิดล, พัฒนาโดย กองเทคโนโลยีสารสนเทศ</div>
        <div *ngIf="appService.lang === 'en'">Copyright <span class="font regular size16"><i class="fa fa-copyright"></i></span> 2019{{today.getFullYear() > 2019 ? (' - ' + today.getFullYear()) : ''}} Mahidol University. All rights reserved.</div>
      </span>
    </div>
  </footer>  
</main>