<ngx-loading [show]="appService.isLoading"></ngx-loading>
<span class="msg-loading font regular size16" *ngIf="appService.isLoading">{{'msgLoading.loading' | translate}}</span>
<main>
  <header #headerView class="sticky">
    <div class="container">
      <div class="navbar-header">
        <div class="panel-table">
          <div class="panel-row">
            <div class="panel-col systeminfo">
              <div class="panel-table">
                <div class="panel-row">
                    <div class="panel-col owner">
                        <div class='label label-th' *ngIf="appService.lang === 'th'"></div>
                        <div class='label label-en' *ngIf="appService.lang === 'en'"></div>
                    </div>
                    <div class="panel-col fullname"></div>
                </div>
              </div>
            </div>
            <div class="panel-col userinfo">
              <div class="panel-table">
                <div class="panel-row">
                  <div class="panel-col flags-icon">
                    <a href="javascript:void(0)" *ngIf="appService.lang === 'en'" (click)="appService.setDefaultLang('th')"><span class="font regular size18 flag-icon flag-icon-th"></span></a>
                    <a href="javascript:void(0)" *ngIf="appService.lang === 'th'" (click)="appService.setDefaultLang('en')"><span class="font regular size18 flag-icon flag-icon-gb"></span></a>
                  </div>
                  <div class="panel-col home-icon">
                    <a routerLink="Home" routerLinkActive="active"><span class="font regular white size24"><i class='fa fa-home'></i></span></a>
                  </div>
                  <div class="panel-col text-center user-icon" ngbDropdown #profileDropdown="ngbDropdown" placement="bottom-right" *ngIf="authService.isAuthenticated && !appService.isLoading">
                    <a href="javascript:void(0)" id="profile" ngbDropdownToggle [ngStyle]="{'background-color': userBackgrondColor}">
                      <span class="font regular white size18">{{(authService.getUserInfo.givenName[0] | uppercase)}}{{(authService.getUserInfo.familyName[0] | uppercase)}}</span>
                    </a>
                    <div ngbDropdownMenu aria-labelledby="profile" class="pt-3 pb-3">
                      <div class="panel-table">
                        <div class="panel-row">
                          <div class="panel-col text-center">
                            <div class="center user-icon" [ngStyle]="{'background-color': userBackgrondColor}">
                              <span class="font regular white size48">{{(authService.getUserInfo.givenName[0] | uppercase)}}{{(authService.getUserInfo.familyName[0] | uppercase)}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="panel-row">
                          <div class="panel-col text-center padding-top-10">
                            <div class="font regular black size18 overflow-ellipsis">{{authService.getUserInfo.givenName}} {{(authService.getUserInfo.familyName)}}</div>
                            <div class="font regular grey size16 overflow-ellipsis">{{authService.getUserInfo.email}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown-divider margin-top-16 no-margin-botttom"></div>
                      <a class="text-center" href="javascript:void(0)" role="button" ngbDropdownItem><span class="font regular grey-dark size15">{{'profile.personalInfo' | translate | titlecase}}</span></a>
                      <a class="text-center" href="javascript:void(0)" role="button" ngbDropdownItem><span class="font regular grey-dark size15">{{'profile.examApplicationInfo' | translate | titlecase}}</span></a>
                      <div class="dropdown-divider no-margin-top margin-bottom-16"></div>
                      <div class="block-fit text-center">
                        <button type="button" class="btn btn-transparent" (click)="$event.stopPropagation(); profileDropdown.close(); authService.signout.modalOpen(signoutDialog)"><span class="font regular size16">{{'signout.label' | translate}}</span></button>
                      </div>
                    </div>
                  </div>
                  <div class="panel-col text-center signin-icon" *ngIf="!authService.isAuthenticated && !appService.isLoading">
                    <a routerLink="SignIn" routerLinkActive="active"><span class="font regular white size15">{{'signin' | translate}}</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section [ngStyle]="sectionStyle">
    <div class="container">
      <router-outlet *ngIf="!isLoading"></router-outlet>
    </div>
  </section>
  <footer #footerView>
    <div class="container text-center p-3">
      <span class="font regular gray size14">
        <div *ngIf="appService.lang === 'th'"><span class="font regular size16"><i class="fa fa-copyright" aria-hidden="true"></i></span> สงวนลิขสิทธิ์ พ.ศ.2562{{(today.getFullYear() + 543) > 2562 ? (' - ' + (today.getFullYear() + 543)) : ''}} มหาวิทยาลัยมหิดล, พัฒนาโดย กองเทคโนโลยีสารสนเทศ</div>
        <div *ngIf="appService.lang === 'en'">Copyright <span class="font regular size16"><i class="fa fa-copyright"></i></span> 2019{{today.getFullYear() > 2019 ? (' - ' + today.getFullYear()) : ''}} Mahidol University. All rights reserved.</div>
      </span>
    </div>
  </footer>
</main>
<ng-template #signoutDialog let-modal>
  <div class="modal-body">
    <span class="font regular white size16">{{'signout.confirm' | translate}}</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.dismiss('N')"><span class="font regular size16">{{'cancel' | translate}}</span></button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Y')"><span class="font regular size16">{{'ok' | translate}}</span></button>
  </div>
</ng-template>
