/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๒๑/๐๒/๒๕๖๓>
Modify date : <๐๘/๐๔/๒๕๖๓>
Description : <>
=============================================
*/

@import '../../styles.scss';

.project-view .card-group {
  margin-left: -0.25rem;
  margin-bottom: -0.25rem;
}
@media (max-width: 606px) {
  .project-view .card-group .card-col.col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.project-view .project-card-horizontal {
  display: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .project-view .project-card-vertical {
    display: none;
  }
  ::i-block-chrome,
  .project-view .project-card-horizontal {
    display: block;
  }
}
@media screen and (max-width: 654px) {
  ::i-block-chrome,
  .project-view .project-card-vertical {
    display: block;
  }
  ::i-block-chrome,
  .project-view .project-card-horizontal {
    display: none;
  }
}
.project-view .dropdown-menu.menu-info {
  width: 171px;
  min-width: 171px;
}
.project-view .title-info .dropdown-menu.show.menu-info {
  transform: translate(0px, -2px) !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .project-view .title-info .dropdown-menu.show.menu-info {
    top: -2px !important;
    left: 1px !important;
  }
  ::i-block-chrome,
  .project-view .project-info .dropdown-menu.show.menu-info {
    top: 24px !important;
  }
}
.project-view .project-card-vertical .register-info .form .form-group .col-form-label {
  width: 126px;
}
.project-view .project-card-horizontal .register-info .form .form-group .col-form-label {
  width: 137px;
}
.project-view .project-card-vertical .register-info .form .form-group.col-registrationdate,
.project-view .project-card-vertical .register-info .form .form-group.col-registrationdate .col-form-label,
.project-view .project-card-vertical .register-info .form .form-group.col-registrationdate .col {
  display: block !important;
  width: 100% !important;
}
.project-view .project-card-vertical .register-info .form .form-group.col-registrationdate .col-form-label::after {
  float: none;
  content: '';
  margin-left: 0;
}
.project-view .project-card-vertical .register-info .form .form-group.col-registrationdate .col {
  padding-left: 0 !important;
}
.project-view .project-card-vertical .register-info .d-table.calendar-date {
  margin-top: 5px;
}
.project-view .project-card-horizontal .register-info .d-table.calendar-date {
  margin-top: 2px;
}
