<div class="project-view">
  <div class="toolbars pr-3 pb-2 pl-3">
    <div class="d-table w-100">
      <div class="d-table-cell col-button">
        <button type="button" class="btn btn-secondary mr-1"
          [disabled]="(projectService.operate.table.service.searching$ | async)"
          ngbTooltip="{{'filter' | translate | titlecase}}"
          title="{{'filter' | translate | titlecase}}"
          (click)="$event.currentTarget.blur(); projectService.operate.table.filter.showForm = !projectService.operate.table.filter.showForm">
          <i class="fa fa-filter text-white size18"></i>
        </button>
        <button type="button" class="btn btn-secondary"
          [disabled]="(projectService.operate.table.service.searching$ | async)"
          ngbTooltip="{{'reload' | translate | titlecase}}"
          title="{{'reload' | translate | titlecase}}"
          (click)="$event.currentTarget.blur(); projectService.operate.table.service.reload()">
          <i class="fa fa-refresh text-white size18" [ngClass]="{'fa-spin': (projectService.operate.table.service.searching$ | async)}"></i>
        </button>
      </div>
      <div class="d-table-cell text-right col-recordcount">
        <span class="regular size15" *ngIf="!(projectService.operate.table.service.searching$ | async)">{{appService.getTextRecordCount((projectService.operate.table.service.total$ | async), (projectService.operate.table.service.totalSearch$ | async))}}</span>
      </div>
    </div>
  </div>
  <div class="filter form bg-secondary pt-2 pr-3 pb-0 pl-3" *ngIf="projectService.operate.table.filter.showForm">
    <div class="card">
      <div class="card-header p-0">
        <span class="bold text-white size18">{{'filter' | translate | titlecase}}</span>
      </div>
      <div class="card-body p-0 pt-3">
        <div class="form">
          <div class="form-row d-table">
            <div class="form-group col-md-6 pl-0">
              <label for="keyword" class="regular text-white size16">{{'keyword' | translate | titlecase}}</label>
              <input type="text" class="form-control inputbox regular size16" name="keyword" [(ngModel)]="projectService.operate.table.service.keyword" />
            </div>
            <div class="form-group col-md-6 pr-0">
              <label for="registration-status" class="regular text-white size16">{{'registrationStatus' | translate | titlecase}}</label>
              <ng-select [(ngModel)]="projectService.operate.table.service.registrationStatus">
                <ng-option *ngFor="let item of dataService.registrationStatus.getList()" [value]="item.id">{{item.name[appService.lang]}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-group card-striped" *ngIf="!(projectService.operate.table.service.searching$ | async)">
    <div class="card-col mb-1 pl-1 pr-0" *ngFor="let project of projectService.operate.table.service.data$ | async; index as order"
      [ngClass]="{
        'col-sm-6': (deviceService.browser !== 'Safari'),
        'col-md-6': (deviceService.browser !== 'Safari'),
        'col-lg-4': (deviceService.browser !== 'Safari'),
        'col-xl-3': (deviceService.browser !== 'Safari'),
        'col-12': (deviceService.browser === 'Safari')
      }">
      <div class="card card-default h-100">
        <div class="card-body pt-0 pr-3 pb-2 pl-3">
          <ng-container *ngTemplateOutlet="cardTitle; context: {data: project}"></ng-container>
          <div class="card-text">
            <ng-container *ngTemplateOutlet="cardBody; context: {data: project}"></ng-container>
          </div>
        </div>
        <div class="card-footer pt-0 pr-3 pb-3 pl-3">
          <div class="card-text">
            <ng-container *ngTemplateOutlet="cardFooter; context: {data: project}"></ng-container>
          </div>
        </div>
      </div>
      <div class="card card-safari">
        <div class="card-body pt-0 pr-3 pb-0 pl-3">
          <div class="d-inline-block col-sm-3 col-md-3 pl-0">
            <ng-container *ngTemplateOutlet="cardTitle; context: {data: project}"></ng-container>
          </div>
          <div class="d-inline-block col-sm-9 col-md-9 pt-2 pb-2 align-top">
            <div class="card-text">
              <ng-container *ngTemplateOutlet="cardBody; context: {data: project}"></ng-container>
              <ng-container *ngTemplateOutlet="cardFooter; context: {data: project}"></ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #cardTitle let-project="data">
  <div class="embed-responsive embed-responsive-16by9 mb-3">
    <a href="javascript:void(0)" (click)="$event.currentTarget.blur(); projectDetail.modalOpen(projectDetailDialog, project)"><div class="card-img" [ngStyle]="{'background-image': ('url(' + project.logo + ')')}"></div></a>
  </div>
  <div class="card-title">
    <div class="float-left datetime-vertical bold text-body">
      <div class="day bolder size24">
        <div>{{project.examDate ? (project.examDate | slice:0:1) : ''}}</div>
        <div>{{project.examDate ? (project.examDate | slice:1:2) : ''}}</div>
      </div>
      <div class="clearfix"></div>
      <div class="month size16">
        <div>{{project.examDate ? ((project.examDate | slice:3:4) | uppercase) : ''}}</div>
        <div>{{project.examDate ? ((project.examDate | slice:4:5) | uppercase) : ''}}</div>
        <div>{{project.examDate ? ((project.examDate | slice:5:6) | uppercase) : ''}}</div>
      </div>
      <div class="clearfix"></div>
      <div class="year size14">
        <div>{{project.examDate ? (project.examDate | slice:7:8) : ''}}</div>
        <div>{{project.examDate ? (project.examDate | slice:8:9) : ''}}</div>
        <div>{{project.examDate ? (project.examDate | slice:9:10) : ''}}</div>
        <div>{{project.examDate ? (project.examDate | slice:10:11) : ''}}</div>
      </div>
      <div class="clearfix"></div>
      <div class="time size11 text-secondary">
        <div>{{project.examDate ? (project.examDate | slice:12:13) : ''}}</div>
        <div>{{project.examDate ? (project.examDate | slice:13:14) : ''}}</div>
        <div>{{project.examDate ? (project.examDate | slice:14:15) : ''}}</div>
        <div>{{project.examDate ? (project.examDate | slice:15:16) : ''}}</div>
        <div>{{project.examDate ? (project.examDate | slice:16:17) : ''}}</div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="float-right registration-status" ngbTooltip="{{(dataService.registrationStatus.get(project.registrationStatus)).name[appService.lang]}}" placement="left" title="{{(dataService.registrationStatus.get(project.registrationStatus)).name[appService.lang]}}">
      <i class="fa fa-lock size36"
        [ngClass]="{
          'text-success': (project.registrationStatus === 'Y'),
          'text-warning': (project.registrationStatus === 'W'),
          'text-danger ': (project.registrationStatus === 'N'),
          'fa-unlock': (project.registrationStatus === 'Y'),
          'fa-lock': (project.registrationStatus !== 'Y')
        }"
      ></i>
    </div>
    <div class="clearfix"></div>
  </div>
</ng-template>
<ng-template #cardBody let-project="data">
  <p class="mb-0"><a class="bold size18" href="javascript:void(0)" (click)="$event.currentTarget.blur(); projectDetail.modalOpen(projectDetailDialog, project)">{{project.name[appService.lang]}}</a></p>
  <p class="mb-0"><span class="light size16 text-muted line-clamp line-clamp-4">{{project.detail}}</span></p>
</ng-template>
<ng-template #cardFooter let-project="data">
  <div class="regular size14">
    <div class="form mb-1">
      <div class="form-group row mb-0">
        <label for="col-seat" class="col-form-label">{{'project.seat' | translate | titlecase}}</label>
        <div class="col">
          <span class="form-text regular">{{project.maximumSeat ? ((project.maximumSeat | number) + ' ' + ('unit.persons' | translate | titlecase)) : ''}}</span>
        </div>
      </div>
      <div class="form-group row mb-0">
        <label for="col-registration-fee" class="col-form-label">{{'project.registrationFee' | translate | titlecase}}</label>
        <div class="col">
          <span class="form-text regular">{{project.minimumFee ? ((project.minimumFee | number: '.2') + ' ' + ('unit.baht' | translate | titlecase)) : ''}}</span>
        </div>
      </div>
      <div class="form-group row mb-0">
        <label for="col-registration-fee" class="col-form-label w-100">{{'project.registrationDate' | translate | titlecase}}</label>
      </div>
    </div>
    <div class="d-table w-auto registration-date">
      <div class="d-table-row" [ngbTooltip]="tooltipRegistrationStartdate" title="{{'project.registrationDate' | translate | titlecase}} ( {{'start' | translate | titlecase}} )">
        <div class="d-table-cell"><span class="text-success size20"><i class="fa fa-calendar"></i></span></div>
        <div class="d-table-cell align-middle"><span class="text-success size12"><i class="fa fa-play"></i></span></div>
        <div class="d-table-cell"><span class="text-success">{{project.registrationDate.startDate}}</span></div>
      </div>
      <div class="d-table-row" [ngbTooltip]="tooltipRegistrationEnddate" title="{{'project.registrationDate' | translate | titlecase}} ( {{'end' | translate | titlecase}} )">
        <div class="d-table-cell"><span class="text-danger size20"><i class="fa fa-calendar"></i></span></div>
        <div class="d-table-cell align-middle"><span class="text-danger size12"><i class="fa fa-stop"></i></span></div>
        <div class="d-table-cell"><span class="text-danger">{{project.registrationDate.endDate}}</span></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #tooltipRegistrationStartdate>
  {{'project.registrationDate' | translate | titlecase}}<br />
  ( {{'start' | translate | titlecase}} )
</ng-template>
<ng-template #tooltipRegistrationEnddate>
  {{'project.registrationDate' | translate | titlecase}}<br />
  ( {{'end' | translate | titlecase}} )
</ng-template>
<ng-template #projectDetailDialog let-modal>
  <div class="font project-detail-dialog">
    <div class="modal-header">
      <div class="modal-title">{{'project.detail' | translate | titlecase}}</div>
      <div class="modal-close">
        <button type="button" class="close" aria-label="Close" (click)="$event.currentTarget.blur(); modal.close('Y')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <div class="card-group">
        <div class="card-col w-100">
          <div class="card card-default bg-white h-100">
            <div class="card-body p-0">
              <ng-container *ngTemplateOutlet="cardTitle; context: {data: projectDetail.data}"></ng-container>
              <div class="card-text">
                <p class="mb-0"><span class="bold size18">{{projectDetail.data.name[appService.lang]}}</span></p>
              </div>
            </div>
          </div>
          <div class="card card-safari bg-white">
            <div class="card-body p-0">
              <div class="d-inline-block col-md-3 col-lg-3 pl-0">
                <ng-container *ngTemplateOutlet="cardTitle; context: {data: projectDetail.data}"></ng-container>
              </div>
              <div class="d-inline-block col-md-9 col-lg-9 pt-0 pb-0 align-top">
                <div class="card-text">
                  <p class="mb-0"><span class="bold size18">{{projectDetail.data.name[appService.lang]}}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <!--
      <input class="d-none" type="text" />
      <button type="button" class="btn btn-primary ml-0" (click)="$event.currentTarget.blur(); modal.dismiss('N')"><span class="regular size16">{{'cancel' | translate}}</span></button>
      <button type="button" class="btn btn-primary mr-0" (click)="$event.currentTarget.blur(); modal.close('Y')"><span class="regular size16">{{'ok' | translate}}</span></button>
      -->
    </div>
  </div>
</ng-template>
