/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๒๑/๐๒/๒๕๖๓>
Modify date : <๑๐/๐๓/๒๕๖๓>
Description : <>
=============================================
*/

@import '../../styles.scss';

.project-view .card-group {
  margin-left: -0.25rem;
  margin-bottom: -0.25rem;
}
.project-view .card-group .card {
  border: none;
  border-radius: 0px;
  background-color: #F2F2F2;
}
.project-view .card-group .card .card-img-top {
  border-radius: 0px;
}
.project-view .card-group .card .card-body .badge-pill {
  margin-top: 1px;
  padding-right: 0;
  padding-left: 0;
  border-radius: 5rem;
  width: 32px;
  height: 32px;
  line-height: 1.8;
}
.project-view .card-group .card .card-footer {
  border-top: none;
  background: transparent;
}
.project-view .card-group .card .card-footer .btn,
.project-view .table td.col-wrap .form .form-footer .btn {
  border-top-left-radius: 0px;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0px;
  width: 120px;
}
@media (min-width: 1200px) {
  /*
  .project-view .card-group .col-xl-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  */
}
.project-view .d-table.registration-date .d-table-cell {
  vertical-align: top;
}
.project-view .d-table.registration-date .d-table-cell:not(:last-child) {
  width: 20px;
  line-height: 1.2;
}
.project-view .d-table.registration-date .d-table-cell:last-child {
  padding-top: 1px;
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  .project-view .d-table.registration-date .d-table-cell:last-child {
    padding-top: 2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .project-view .d-table.registration-date .d-table-cell:last-child {
    padding-top: 2px;
  }
}
.project-view .table .col-registration-date {
  width: 185px;
  min-width: 185px;
}
.project-view .table .col-seat {
  width: 165px;
  min-width: 165px;
}
.project-view .table .col-registration-fee {
  width: 170px;
  min-width: 170px;
}
.project-view .table .col-registration-status {
  width: 85px;
  min-width: 85px;
}
.project-view .table td.col-registration-status {
  line-height: 0;
  padding-top: 5px;
  padding-bottom: 0;
}
.project-view .table td.col-wrap .form .form-group .col-form-label {
    width: 151px;
}
@media screen and (max-width: 866px) {
  @include table-responsive-step1('.project-view');
}
@media screen and (max-width: 366px) {
  @include table-responsive-end('.project-view');
}
