<div class="registered-view" *ngIf="data.transProject$">
  <div class="card-group">
    <div class="card-col pr-0 pl-0 w-100">
      <div class="card bg-white border-0 rounded-0">
        <div class="card-body pt-0 pr-3 pb-0 pl-3">
          <div class="card-title mb-0">
            <span class="bold text-dark size24">{{'registered.label' | translate | titlecase}}</span>
          </div>
        </div>
      </div>
      <div class="dropdown-divider mt-2 mb-0"></div>
      <div class="card card-horizontal bg-white border-0 rounded-0 project-card-horizontal">
        <div class="card-body pt-0 pr-3 pb-0 pl-3 project-body">
          <div class="d-inline-block col-sm-3 pr-0 pl-0 align-top">
            <ng-container *ngTemplateOutlet="titleInfo"></ng-container>
          </div>
          <div class="d-inline-block col-sm-9 pt-1 pr-0 align-top">
            <div class="card-text">
              <div class="mb-2"><ng-container *ngTemplateOutlet="projectInfo"></ng-container></div>
              <ng-container *ngTemplateOutlet="registerInfo"></ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-vertical bg-white border-0 rounded-0 project-card-vertical">
        <div class="card-body pt-0 pr-3 pb-0 pl-3 project-body">
          <ng-container *ngTemplateOutlet="titleInfo"></ng-container>
          <div class="card-text">
            <div class="mt-3 mb-2"><ng-container *ngTemplateOutlet="projectInfo"></ng-container></div>
            <ng-container *ngTemplateOutlet="registerInfo"></ng-container>
          </div>
        </div>
      </div>
      <div class="mt-3 pr-3 pl-3">
        <div class="w-100 text-center" *ngIf="transRegistered.isLoading"><i class="fa fa-circle-o-notch fa-spin size48"></i></div>
        <div *ngIf="registeredInfos.show">
          <div class="mb-3"><ng-container *ngTemplateOutlet="registeredInfo"></ng-container></div>
          <div class="registered-btn ml-auto project-registered-btn">
            <a class="btn btn-success"
              [ngClass]="{
                'disabled': (data.transProject$.transLocation.length === 0 || data.transProject$.transFeeType.length === 0)
              }"
              (click)="saveChange.action()">
              <span class="font bold text-white size20">{{'registered.confirm' | translate | titlecase}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #datetimeVerticalInfo let-data="data">
  <div class="datetime-vertical bold text-body" *ngIf="data">
    <div class="day bolder size24">
      <div>{{data | slice:0:1}}</div>
      <div>{{data | slice:1:2}}</div>
    </div>
    <div class="clearfix"></div>
    <div class="month size16">
      <div>{{(data | slice:3:4) | uppercase}}</div>
      <div>{{(data | slice:4:5) | uppercase}}</div>
      <div>{{(data | slice:5:6) | uppercase}}</div>
    </div>
    <div class="clearfix"></div>
    <div class="year size14">
      <div>{{data | slice:7:8}}</div>
      <div>{{data | slice:8:9}}</div>
      <div>{{data | slice:9:10}}</div>
      <div>{{data | slice:10:11}}</div>
    </div>
    <div class="clearfix"></div>
    <div class="time size11 text-secondary">
      <div>{{data | slice:12:13}}</div>
      <div>{{data | slice:13:14}}</div>
      <div>{{data | slice:14:15}}</div>
      <div>{{data | slice:15:16}}</div>
      <div>{{data | slice:16:17}}</div>
    </div>
    <div class="clearfix"></div>
  </div>
</ng-template>
<ng-template #titleInfo>
  <div class="title-info">
    <div class="embed-responsive embed-responsive-16by9 mb-3">
      <div class="card-img project-card-img" [ngStyle]="{'background-image': ('url(' + data.transProject$.project.logo + ')')}"></div>
    </div>
    <div class="card-title mb-0">
      <div class="float-left" *ngIf="data.transProject$.examDate.startDate">
        <ng-container *ngTemplateOutlet="datetimeVerticalInfo; context: {data: data.transProject$.examDate.startDate}"></ng-container>
      </div>
      <div class="float-left" *ngIf="data.transProject$.examDate.endDate">
        <div class="d-table">
          <div class="d-table-cell align-middle"><span class="bolder size20">&nbsp;-&nbsp;</span></div>
          <div class="d-table-cell"><ng-container *ngTemplateOutlet="datetimeVerticalInfo; context: {data: data.transProject$.examDate.endDate}"></ng-container></div>
        </div>
      </div>
      <div class="float-right">
        <div class="registration-status text-right project-registration-status" ngbTooltip="{{(dataService.statuses.get(dataService.registrationStatus.data$, data.transProject$.registrationStatus)).name[appService.lang]}}" placement="left" title="{{(dataService.statuses.get(dataService.registrationStatus.data$, data.transProject$.registrationStatus)).name[appService.lang]}}">
          <i class="fa fa-lock size36"
            [ngClass]="{
              'text-success': (data.transProject$.registrationStatus === 'Y'),
              'text-warning': (data.transProject$.registrationStatus === 'W'),
              'text-danger': (data.transProject$.registrationStatus === 'N'),
              'fa-unlock': (data.transProject$.registrationStatus === 'Y'),
              'fa-lock': (data.transProject$.registrationStatus !== 'Y')
            }">
          </i>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</ng-template>
<ng-template #projectInfo>
  <div class="project-info">
    <p class="bold size22 mb-0">{{data.transProject$.project.name[appService.lang]}}</p>
    <div class="badge badge-pill badge-danger project-btn-badge mt-1 mb-2" *ngIf="data.transProject$.registrationStatus !== 'Y'">
      <span class="regular text-white size13">{{(dataService.statuses.get(dataService.registrationStatus.data$, data.transProject$.registrationStatus)).name[appService.lang] | lowercase}}</span>
    </div>
  </div>
</ng-template>
<ng-template #registerInfo>
  <div class="register-info project-register-info">
    <div class="regular size16">
      <div class="d-table w-auto size-l mb-2 calendar-date">
        <div class="d-table-row" ngbTooltip="{{'project.registrationDate' | translate | titlecase}} ( {{'start' | translate | titlecase}} )" title="{{'project.registrationDate' | translate | titlecase}} ( {{'start' | translate | titlecase}} )">
          <div class="d-table-cell align-middle col-icon"><span class="text-success size24"><i class="fa fa-calendar"></i></span></div>
          <div class="d-table-cell align-middle col-calendar"><span class="text-success">{{data.transProject$.registrationDate.startDate ? (data.transProject$.registrationDate.startDate | slice:0:16) : ''}}</span></div>
          <div class="d-table-cell align-middle col-icon"><span class="text-success size24"><i class="fa fa-clock-o"></i></span></div>
          <div class="d-table-cell align-middle col-clock"><span class="text-success">{{data.transProject$.registrationDate.startDate ? (data.transProject$.registrationDate.startDate | slice:16:22) : ''}}</span></div>
        </div>
        <div class="d-table-row" ngbTooltip="{{'project.registrationDate' | translate | titlecase}} ( {{'end' | translate | titlecase}} )" title="{{'project.registrationDate' | translate | titlecase}} ( {{'end' | translate | titlecase}} )">
          <div class="d-table-cell align-middle col-icon"><span class="text-danger size24"><i class="fa fa-calendar"></i></span></div>
          <div class="d-table-cell align-middle col-calendar"><span class="text-danger">{{data.transProject$.registrationDate.endDate ? (data.transProject$.registrationDate.endDate | slice:0:16) : ''}}</span></div>
          <div class="d-table-cell align-middle col-icon"><span class="text-danger size24"><i class="fa fa-clock-o"></i></span></div>
          <div class="d-table-cell align-middle col-clock"><span class="text-danger">{{data.transProject$.registrationDate.endDate ? (data.transProject$.registrationDate.endDate | slice:16:22) : ''}}</span></div>
        </div>
      </div>
      <div class="d-table w-auto size-l">
        <div class="d-table-row line-height-0">
          <div class="d-table-cell align-middle pb-2 col-icon"><span class="text-dark size22"><i class="fa fa-group"></i></span></div>
          <div class="d-table-cell align-middle pb-2"><span class="text-dark">{{'project.seat' | translate | titlecase}}<span class="bold">{{data.transProject$.maximumSeat ? (' ' + (data.transProject$.maximumSeat | number) + ' / ' + (data.transProject$.seatAvailable | number) + ' ') : ''}}</span>{{data.transProject$.maximumSeat ? ('unit.persons' | translate | titlecase) : ''}}</span></div>
        </div>
        <div class="d-table-row line-height-0">
          <div class="d-table-cell align-middle col-icon"><span class="size22"><i class="fa fa-btc"></i></span></div>
          <div class="d-table-cell align-middle"><span class="text-dark">{{'project.registrationFee' | translate | titlecase}}<span class="bold">{{data.transProject$.minimumFee ? (' ' + (data.transProject$.minimumFee | number: '.2') + ' ') : ''}}</span>{{data.transProject$.minimumFee ? ('unit.baht' | translate | titlecase) : ''}}</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <div class="d-inline project-dropdown" ngbDropdown placement="bottom-left">
      <a class="badge badge-pill badge-dark btn-contact-info" href="javascript:void(0)" ngbDropdownToggle ngbTooltip="{{'contact.label' | translate | titlecase}}" title="{{'contact.label' | translate | titlecase}}">
        <i class="fa fa-phone text-white size15"></i>
      </a>
      <div ngbDropdownMenu aria-labelledby="contact-info" class="contact-info">
        <div class="dropdown-menu-inner"><ng-container *ngTemplateOutlet="contactInfo"></ng-container></div>
      </div>
    </div>
    <a class="d-inline badge badge-pill badge-light-dark ml-2 project-btn-badge" href="javascript:void(0)" (click)="projectAbout.isCollapsed = !projectAbout.isCollapsed" [attr.aria-expanded]="projectAbout.isCollapsed" aria-controls="projectAbout">
      <span class="regular size13">{{'about' | translate | lowercase}}</span>
    </a>
  </div>
  <p class="regular text-justify-distribute text-black-50 size16 line-clamp mt-2 mb-0 project-text-line-clamp" id="projectAbout" [ngbCollapse]="!projectAbout.isCollapsed" [innerHTML]="data.transProject$.project.about[appService.lang] | nl2br"></p>
</ng-template>
<ng-template #contactInfo>
  <div class="contact-info text-white size14 project-contact-info">
    <div class="form">
      <div class="form-group row mr-0 mb-1 ml-0">
        <label for="col-name" class="col-form-label pt-0 pb-0"><i class="fa fa-address-book-o"></i></label>
        <div class="col text-left">
          <span class="form-text regular mt-0">{{data.transProject$.contactPerson.fullName[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mr-0 mb-1 ml-0">
        <label for="col-email" class="col-form-label pt-0 pb-0"><i class="fa fa-envelope-o"></i></label>
        <div class="col text-left">
          <span class="form-text regular mt-0">{{data.transProject$.contactPerson.email}}</span>
        </div>
      </div>
      <div class="form-group row mr-0 mb-0 ml-0">
        <label for="col-phone" class="col-form-label pt-0 pb-0"><i class="fa fa-phone"></i></label>
        <div class="col text-left">
          <span class="form-text regular mt-0">{{data.transProject$.contactPerson.phoneNumber}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #registeredInfo>
  <div class="registered-info">
    <div class="d-table table-registered">
      <div class="d-table-cell w-58 jumbotron rounded-xl mb-0 p-3 col-locations">
        <div class="border-bottom border-light pb-2">
          <span class="bold text-primary size20">{{'location.info' | translate | titlecase}}</span>
          <div class="alert alert-danger mt-2 mb-2" role="alert" *ngIf="!location.saveChange.isValid">
            <span class="regular size16">{{'registered.save.error.location' | translate}}</span>
          </div>
        </div>
        <div *ngIf="data.transProject$.transLocation.length"><ng-container *ngTemplateOutlet="locationInfo"></ng-container></div>
      </div>
      <div class="d-table-cell table-cell-divider col-wrap"></div>
      <div class="d-table-cell w-auto jumbotron rounded-xl mb-0 p-3 col-feetype">
        <div class="border-bottom border-light pb-2">
          <span class="bold text-primary size20">{{'fee' | translate | titlecase}}</span>
        </div>
        <div *ngIf="data.transProject$.transFeeType.length"><ng-container *ngTemplateOutlet="feeInfo"></ng-container></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #locationInfo>
  <div class="location-info project-location-info">
    <table class="table table-bordered mb-0">
      <thead class="text-black-50 size18">
        <tr>
          <th class="border-top-0 border-right-0 border-left-0 border-white pr-0 pl-0 bold col-check">#</th>
          <th class="border-top-0 border-left-0 border-white pl-2 bold col-index">{{'order' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-location">{{'location.label' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-building">{{'building.label' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-seattotal">{{'location.seatTotal' | translate | titlecase}}</th>
          <th class="border-top-0 border-right-0 border-white pr-0 bold col-seatavailable">{{'location.seatAvailable' | translate | titlecase}}</th>
          <th class="border-top-0 border-white bold col-wrap col-wrap-step1 col-location-building">{{'location.label' | translate | titlecase}} / {{'building.label' | translate | titlecase}}</th>
          <th class="border-top-0 border-right-0 border-white pr-0 bold col-wrap col-wrap-step1 col-seat">{{'seat.label' | translate | titlecase}} <span class="regular text-muted size12">( {{'total.label' | translate | titlecase}} / {{'remain' | translate | titlecase}} )</span></th>
        </tr>
      </thead>
      <tbody class="border-top-0 size16" *ngFor="let transLocation of data.transProject$.transLocation; index as order">
        <tr>
          <td class="border-top-0 border-right-0 border-left-0 pr-0 pl-0 regular col-check">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="select-location-{{transLocation.ID}}" name="select-location"
                [value]="transLocation"
                [(ngModel)]="location.formField.room.selected"
                (ngModelChange)="watchChange()"
                [disabled]="transLocation.seatAvailable === 0">
              <label class="custom-control-label" for="select-location-{{transLocation.ID}}"></label>
            </div>
          </td>
          <td class="border-top-0 border-right-transparent border-left-0 pl-2 regular col-index" ngbTooltip="{{'order' | translate | titlecase}}" title="{{'order' | translate | titlecase}}">
            {{(order + 1) | number}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-location" ngbTooltip="{{'location.label' | translate | titlecase}}" title="{{'location.label' | translate | titlecase}}">
            {{transLocation.location.name[appService.lang]}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-building" ngbTooltip="{{'building.label' | translate | titlecase}}" title="{{'building.label' | translate | titlecase}}">
            {{transLocation.location.building.name[appService.lang]}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-seattotal" ngbTooltip="{{'location.seatTotal' | translate | titlecase}}" title="{{'location.seatTotal' | translate | titlecase}}">
            {{transLocation.seatTotal}}
          </td>
          <td class="border-top-0 border-right-0 pr-0 regular col-seatavailable" ngbTooltip="{{'location.seatAvailable' | translate | titlecase}}" title="{{'location.seatAvailable' | translate | titlecase}}">
            {{transLocation.seatAvailable}}
          </td>
          <td class="border-top-0 border-right-transparent regular col-wrap col-wrap-step1 col-location-building">
            <ng-container *ngTemplateOutlet="locationBuildingInfo; context: {data: transLocation}"></ng-container>
          </td>
          <td class="border-top-0 border-right-0 pr-0 regular col-wrap col-wrap-step1 col-seat">
            {{transLocation.seatTotal}} / {{transLocation.seatAvailable}}
          </td>
          <td class="border-top-0 border-top-0 border-right-0 border-left-0 pr-0 pl-0 col-wrap col-wrap-step2 regular col-location-building-seat">
            <ng-container *ngTemplateOutlet="locationBuildingSeatInfo; context: {data: transLocation}"></ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<ng-template #locationBuildingInfo let-data="data">
  <div class="location-building-info">
    <div class="form">
      <div class="form-group row mb-1" ngbTooltip="{{'location.label' | translate | titlecase}}" title="{{'location.label' | translate | titlecase}}">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.name[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mb-0" ngbTooltip="{{'building.label' | translate | titlecase}}" title="{{'building.label' | translate | titlecase}}">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.building.name[appService.lang]}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #locationBuildingSeatInfo let-data="data">
  <div class="location-building-seat-info">
    <div class="form">
      <div class="form-group row mb-1" ngbTooltip="{{'location.label' | translate | titlecase}}" title="{{'location.label' | translate | titlecase}}">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.name[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mb-1" ngbTooltip="{{'building.label' | translate | titlecase}}" title="{{'building.label' | translate | titlecase}}">
        <div class="col pl-0">
          <span class="form-text regular">{{data.location.building.name[appService.lang]}}</span>
        </div>
      </div>
      <div class="form-group row mb-0" ngbTooltip="{{'seat.label' | translate | titlecase}}" title="{{'seat.label' | translate | titlecase}}">
        <div class="col pl-0">
          <span class="form-text regular">{{'seat.label' | translate | titlecase}} {{data.seatTotal}} / {{data.seatAvailable}}</span>
          <span class="regular text-muted size12">{{'total.label' | translate | titlecase}} / {{'remain' | translate | titlecase}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #feeInfo>
  <div class="fee-info project-fee-info">
    <table class="table table-bordered mb-0">
      <thead class="text-black-50 size18">
        <tr>
          <th class="w-auto border-top-0 border-right-0 border-left-0 border-white pr-0 pl-0 bold col-check">{{'items' | translate | titlecase}}</th>
          <th class="border-top-0 border-right-0 border-left-0 border-white pr-0 bold col-amount"></th>
        </tr>
      </thead>
      <tbody class="border-top-0 size16" *ngFor="let transFeeType of data.transProject$.transFeeType; index as order; let last = last">
        <tr>
          <td class="w-auto border-0 pr-0 pb-0 pl-0 regular col-check" [ngClass]="{'pt-1': (order !== 0)}">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="select-feetype-{{transFeeType.ID}}" name="select-feetype"
                [value]="transFeeType.ID"
                [(ngModel)]="transFeeType.isSelected"
                (ngModelChange)="watchChange()"
                [disabled]="transFeeType.requiredStatus === 'Y'"
                (change)="feeType.totalFeeAmount = feeType.getTotalFeeAmount(); feeType.setToggle(transFeeType)">
              <label class="custom-control-label" for="select-feetype-{{transFeeType.ID}}">{{transFeeType.feeType.name[appService.lang]}}</label>
            </div>
            <a class="badge badge-pill badge-info mt-1 project-btn-badge" href="javascript:void(0)"
              [ngClass]="{
                'has-focus': feeType.toggle[transFeeType.feeType.toggle]
              }"
              (click)="feeType.toggle[transFeeType.feeType.toggle] = !feeType.toggle[transFeeType.feeType.toggle]"
              *ngIf="transFeeType.feeType.toggle">
              <span class="regular text-white size13" *ngIf="transFeeType.feeType.toggle === 'Address'">{{'addressDelivery.label' | translate | lowercase}}</span>
            </a>
          </td>
          <td class="border-0 pr-0 pb-0 regular text-right col-amount" [ngClass]="{'pt-1': (order !== 0)}">
            {{transFeeType.feeType.amount ? ((transFeeType.feeType.amount | number: '.2') + ' ' + ('unit.baht' | translate | titlecase)) : ''}}
          </td>
        </tr>
        <tr>
          <td colspan="2" class="border-0 p-0">
            <div class="mt-2" id="deliaddress-form" *ngIf="feeType.toggle[transFeeType.feeType.toggle] && transFeeType.feeType.toggle === 'Address'">
              <div class="form horizontal-form bg-warning p-3">
                <div class="alert alert-danger mb-2" role="alert" *ngIf="!deliAddress.saveChange.isValid">
                  <span class="regular size16">{{'registered.save.error.deliaddress' | translate}}</span>
                </div>
                <div class="form-group row w-100 mb-1">
                  <label for="col-deliaddress-address" class="col-form-label col-form-label-sm pl-0 regular">{{'address.label' | translate}}</label>
                  <div class="col">
                    <textarea autosize trimOnBlur class="form-control form-control-sm regular"
                      name="col-deliaddress-address"
                      [(ngModel)]="deliAddress.formField.address"
                      (ngModelChange)="watchChange()">
                    </textarea>
                  </div>
                </div>
                <div class="form-group row w-100 mb-1">
                  <label for="col-deliaddress-country" class="col-form-label col-form-label-sm pl-0 regular">{{'address.country' | translate}}</label>
                  <div class="col">
                    <i class="fa fa-circle-o-notch fa-spin mt-2 mb-044" *ngIf="deliAddress.formField.country.isLoading"></i>
                    <ng-select
                      class="size-sm"
                      placeholder="{{'placeholder.selectItem' | translate}}"
                      [(ngModel)]="deliAddress.formField.country.selected"
                      (ngModelChange)="watchChange()"
                      (change)="deliAddress.getListProvince()"
                      *ngIf="!deliAddress.formField.country.isLoading">
                      <ng-option *ngFor="let item of data.country$" [value]="item">{{item.name[appService.lang] | titlecase}}</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row w-100 mb-1">
                  <label for="col-deliaddress-province" class="col-form-label col-form-label-sm pl-0 regular">{{'address.province' | translate}}</label>
                  <div class="col">
                    <i class="fa fa-circle-o-notch fa-spin mt-2 mb-044" *ngIf="deliAddress.formField.province.isLoading"></i>
                    <ng-select
                      class="size-sm"
                      placeholder="{{'placeholder.selectItem' | translate}}"
                      [(ngModel)]="deliAddress.formField.province.selected"
                      (ngModelChange)="watchChange()"
                      (change)="deliAddress.getListDistrict()"
                      *ngIf="!deliAddress.formField.province.isLoading">
                      <ng-option *ngFor="let item of data.province$" [value]="item">{{item.name[appService.lang] | titlecase}}</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row w-100 mb-1">
                  <label for="col-deliaddress-district" class="col-form-label col-form-label-sm pl-0 regular">{{'address.district' | translate}}</label>
                  <div class="col">
                    <i class="fa fa-circle-o-notch fa-spin mt-2 mb-044" *ngIf="deliAddress.formField.district.isLoading"></i>
                    <ng-select
                      class="size-sm"
                      placeholder="{{'placeholder.selectItem' | translate}}"
                      [(ngModel)]="deliAddress.formField.district.selected"
                      (ngModelChange)="watchChange()"
                      (change)="deliAddress.getListSubdistrict()"
                      *ngIf="!deliAddress.formField.district.isLoading">
                      <ng-option *ngFor="let item of data.district$" [value]="item">{{item.name[appService.lang] | titlecase}}</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row w-100 mb-1">
                  <label for="col-deliaddress-subdistrict" class="col-form-label col-form-label-sm pl-0 regular">{{'address.subdistrict' | translate}}</label>
                  <div class="col">
                    <i class="fa fa-circle-o-notch fa-spin mt-2 mb-044" *ngIf="deliAddress.formField.subdistrict.isLoading"></i>
                    <ng-select
                      class="size-sm"
                      placeholder="{{'placeholder.selectItem' | translate}}"
                      [(ngModel)]="deliAddress.formField.subdistrict.selected"
                      (ngModelChange)="watchChange()"
                      *ngIf="!deliAddress.formField.subdistrict.isLoading">
                      <ng-option *ngFor="let item of data.subdistrict$" [value]="item">{{item.name[appService.lang] | titlecase}}</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row w-100 mb-1">
                  <label for="col-deliaddress-postalcode" class="col-form-label col-form-label-sm pl-0 regular">{{'address.postalCode' | translate}}</label>
                  <div class="col">
                    <input trimOnBlur type="text" class="form-control form-control-sm regular"
                      name="col-deliaddress-postalcode"
                      [(ngModel)]="deliAddress.formField.postalCode"
                      (ngModelChange)="watchChange()" />
                  </div>
                </div>
                <div class="form-group row w-100">
                  <label for="col-deliaddress-phoneNumber" class="col-form-label col-form-label-sm pl-0 regular">{{'phone' | translate}}</label>
                  <div class="col">
                    <input trimOnBlur type="text" class="form-control form-control-sm regular"
                      name="col-deliaddress-phoneNumber"
                      [(ngModel)]="deliAddress.formField.phoneNumber"
                      (ngModelChange)="watchChange()" />
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="border-0 p-0">
            <div class="d-table w-100 border border-right-0 border-bottom-0 border-left-0 border-white mt-2 size18">
              <div class="d-table-cell w-auto pt-25 bold col-total">{{'total.amount' | translate | titlecase}}</div>
              <div class="d-table-cell pt-25 bold text-right col-total-amount">
                {{feeType.totalFeeAmount ? ((feeType.totalFeeAmount | number: '.2') + ' ' + ('unit.baht' | translate | titlecase)) : ''}}
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</ng-template>
