/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๐๗/๐๔/๒๕๖๓>
Modify date : <๑๖/๐๖/๒๕๖๓>
Description : <>
=============================================
*/

@import '../../../styles.scss';

.registered-view .project-card-vertical {
  display: none;
}
.registered-view .location-info .table .col-index {
  width: 72px;
  min-width: 72px;
}
.registered-view .fee-info .table .col-check .toggle {
  position: absolute;
  top: 0;
}
.registered-view .fee-info .table .col-amount,
.registered-view .fee-info .table .col-total-amount {
  width: 150px;
  min-width: 150px;
}
.registered-view .fee-info #deliaddress-form .col-form-label {
  width: 150px;
}
.registered-view .fee-info #deliaddress-form textarea {
  min-height: 52px;
}
@media screen and (max-width: 1452px) and (min-width: 1082px) {
  .registered-view .registered-info .d-table .col-locations {
    width: 50% !important;
  }
  @include table-responsive-step1('.registered-view .location-info');
}
@media screen and (max-width: 1081px) {
  .registered-view .registered-info .d-table,
  .registered-view .registered-info .d-table-cell,
  .registered-view .registered-info .d-table .col-locations {
    display: block !important;
    width: 100% !important;
  }
  .registered-view .registered-info .d-table .col-feetype {
    margin-top: 1rem !important;
  }
  .registered-view .registered-info .fee-info .table thead {
    display: none;
  }
}
@media screen and (max-width: 870px) {
  @include table-responsive-step1('.registered-view .registered-info .location-info');
}
@media screen and (max-width: 565px) {
  @include table-responsive-step2('.registered-view .registered-info .location-info');
  @include form-responsive('.registered-view .fee-info #deliaddress-form');
}
@media screen and (max-width: 528px) {
  .registered-view .project-card-vertical {
    display: block;
  }
  .registered-view .project-card-horizontal {
    display: none;
  }
}
@media screen and (max-width: 473px) {
  .registered-view .registered-btn {
    width: 100% !important;
  }
}
