/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๒๙/๑๐/๒๕๖๒>
Modify date : <๒๓/๑๒/๒๕๖๒>
Description : <>
=============================================
*/

@import 'assets/style/font.scss';
@import 'assets/style/util.scss';

body {
    overflow-y: auto;
}
.font {
    font-family: $font-family;
}
main section .container {
    padding: 20px 0px 20px 0px;
}