/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๒๐/๐๑/๒๕๖๓>
Modify date : <๓๑/๐๑/๒๕๖๓>
Description : <>
=============================================
*/

@import "../../styles.scss";

.home-view .project .card-group {
  margin-left: -0.25rem;
  margin-bottom: -0.25rem;
}
.home-view .project .card-group .card {
  border: none;
  border-radius: 0px;
  background-color: rgba(0,0,0,.05);
}
.home-view .project .card-group .card .card-img-top {
  border-radius: 0px;
}
.home-view .project .card-group .card .card-body .card-title .badge-pill {
  padding-right: 0;
  padding-left: 0;
  border-radius: 5rem;
  width: 32px;
  height: 32px;
  line-height: 1.8;
}
.home-view .project .card-group .card .card-footer {
  border-top: none;
  background: transparent;
}
.home-view .project .card-group .card .card-footer .btn,
.home-view .project .table td.col-wrap form .form-footer .btn {
  border-top-left-radius: 0px;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0px;
  width: 120px;
}
@media (min-width: 1200px) {
  .home-view .project .card-group .col-xl-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.home-view .project .table .col-registration-date {
  width: 200px;
  min-width: 200px;
}
.home-view .project .table .col-registration-fee {
  width: 30%;
  min-width: 0px;
}
.home-view .project .table .col-registration-status {
  width: 150px;
  min-width: 150px;
}
.home-view .project .table td.col-registration-date .period {
  font-family: Tahoma;
  font-size: 14px;
  line-height: 2;
}
.home-view .project .table td.col-registration-status {
  line-height: 0;
  padding-top: 5px;
  padding-bottom: 0;
}
.home-view .project .table td.col-wrap form .form-group .col-form-label {
    width: 151px;
}
@media screen and (max-width: 614px) {
  @include table-responsive-step1('.home-view .project');
}
@media screen and (max-width: 428px) {
  .home-view .project .table td.col-wrap form .form-footer .btn {
    width: 100%;
  }
}
