/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๗/๐๓/๒๕๖๓>
Modify date : <๒๓/๐๖/๒๕๖๓>
Description : <>
=============================================
*/

@import '../../../styles.scss';

.project-detail-view .project-card-vertical {
  display: none;
}
.project-detail-view .location-info .table .col-index {
  width: 64px;
  min-width: 64px;
}
@media screen and (max-width: 900px) {
  @include table-responsive-step1('.project-detail-view .location-info');
}
@media screen and (max-width: 600px) {
  .project-detail-view .project-card-horizontal {
    display: none;
  }
  .project-detail-view .project-card-vertical {
    display: block;
  }
  @include table-responsive-step2('.project-detail-view .location-info');
}
@media screen and (max-width: 533px) {
  .project-detail-view .registered-btn {
    width: 100% !important;
  }
}
